@include mobile {
  table.board-table {
    border-collapse: inherit;
    thead {
      > tr {
        visibility: collapse;
      }
      > tr > td:nth-child(1) {
        width: 100%;
      }
    }
    tbody {
      > tr {
        display: grid;
        border-top: 1px solid $box-colour;
        grid-template-columns: auto auto;
        grid-template-areas:
        "func func"
        "name name"
        "email link";

        width: 87vw;
      }
      > tr > td:nth-child(3) {
        grid-area: email;
        border: none;
      }
      > tr > td:nth-child(2) {
        grid-area: name;
        border: none;
      }
      > tr > td:nth-child(4) {
        display: grid;
        justify-items: end;
        grid-area: link;
        border: none;
      }
      > tr > td:nth-child(1) {
        grid-area: func;
        border: none;
      }
      > tr > td:nth-child(3):before {
        content: "E-mail: ";
        font-weight: bold;
      }
      > tr > td:nth-child(2):before {
        content: "Name: ";
        font-weight: bold;
      }
      > tr > td:nth-child(1):before {
        content: "Function: ";
        font-weight: bold;
        width: 100%
      }
      > tr > td:nth-child(4):before {
        grid-area: link;
      }
    }
  }
}

table.board-table {
  tbody > tr > td:nth-child(1), thead > tr > th:nth-child(1) {
    width: 40%;
  }
}

#contact-icons {
  > .column {
    max-width: 40vw;
  }

  .contact-circle-option {
    //display: block;
    //max-width: 200px;

    .contact-circle-wrapper {
      display: block;
      position: relative;
      width: 60%;
      padding-bottom: 60%;
      height: 0;
      margin: 0 auto;

      .contact-circle-pulse {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid $secondary;
        margin: 0 auto;
      }

      .contact-circle {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        color: $highlighted-text-colour;
      }
    }

    .contact-circle-wrapper:hover,
    .contact-circle-wrapper:focus {
      .grow {
        transition: all 0.2s ease-in-out;
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }

    .contact-description {
      display: block;
      text-align: center;
      margin-top: 20px;
      color: $primary;
    }

    .contact-text-link {
      color: var(--bulma-text);
      border-bottom: 1px solid $secondary;
      margin-top: 7px;
    }

    .contact-text-link:hover {
      color: $secondary;
    }
  }
}

#contact-info {
  h1 {
    margin-bottom: 0.3em;
  }

  .is-divider {
    margin-bottom: 0.7em;
    margin-top: 0.7em;
  }

  #contact-location-buttons {
    width: 100%;
    text-align: center;
  }

  .button:hover,
  .button:focus {
    border-color: $primary;
  }
}

.sponsoring-member {
  .name {
    padding-top: 0.75rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }

  .username {
    font-weight: lighter;
    font-size: 1.1rem;
  }

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    padding: 0.75rem 0;

    img {
      max-width: 9rem;
      max-height: 9rem;
    }
  }

  .links {
    margin-top: 1.5rem;

    .social-icon {
      margin-right: 0.6rem;
    }
  }

  blockquote {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1.1rem;
    font-weight: normal;
  }

  .logo-initial {
    background-color: #ff7f00;
    width: 7rem;
    height: 7rem;
  }

  @media screen and (max-width: 550px){
    .logo-wrapper {
      width: 10rem;
    }
    .name{
      font-size: 1rem;
    }
    .username{
      font-size: 0.9rem;
    }
  }
}
