@keyframes lineAnimation {
  to {
    width: 80px;
    opacity: 1;
  }
}

.blog-heading {
  display: flex;
  flex-direction: column;

  .titlewrap {
    position: relative;
    margin: auto;
    min-width: 400px;

    .title {
      @include tablet {
        font-size: 4rem;
      }
      font-weight: bolder;
    }

    .subtitle {
      position: absolute;

      @include mobile {
        text-align: center;
        margin-top: 0;
        position: relative;
        margin-bottom: .2em;
      }
    }

    .details {
      right: 0;
      position: absolute;
      margin-top: -1.1rem;
      line-height: 1;
      text-align: right;

      @include mobile {
        text-align: center;
        margin-top: 0;
        position: relative;
      }
    }
  }

  // Under title line
  &::after {
    content: '';
    opacity: 0;
    width: 0px;
    height: 1px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    display: block;
    background: $zeus-orange;

    animation: lineAnimation 2s ease-in-out 1 normal forwards;
    animation-delay: 0.5s;
  }
}

.blog-preview {
  .blogpreview-heading {
    display: flex;
    > a {
      flex-grow: 1;
      margin-bottom: 0;
      display: inline-block;
    }
  }
  > .blogpreview-extra {
    color: #7a7a7a;
    display: inline-block;
    margin-bottom: 5px;
  }
  > .blogpreview-tags {
    color: #7a7a7a;
  }
}

.content figure.full-width {
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
}

.footnotes {
  font-size: 80%;
}
