.blogpost {
  .blogtitle {
    font-size: 4em;
  }
}

#markdown-toc {
  @extend .menu-list;

  &, ul {
    list-style: none;
  }
}

dl {
  dt {
    display: inline;
    font-weight: bold;
  }

  dd {
    display: inline;

    &::after {
      content: "\A";
      white-space: pre;
    }
  }
}

.padbox {
  margin-bottom:10px;
}

.bolder {
  > * {
    color:#565C5E;
    font-weight: bold;
    font-size: 20pt;
    font-family: 'Avenir';

    border-left: 3px solid $zeus-orange;

    padding-left: 10px;
  }

  a {
    border-left: none;
  }
}
.blogwidth{
  width: 75%;
  margin:auto;
  word-wrap: normal;
}
