#markdown-toc {
  @extend .menu-list;

  &, ul {
    margin: 0;
    list-style: none;
  }
}

// Definition list is not defined in bulma
dl {
  dt {
    display: inline;
    font-weight: bold;
  }

  dd {
    display: inline;

    &::after {
      content: "\A";
      white-space: pre;
    }
  }
}

.blogwidth{
  width: 75%;
  margin:auto;
  word-wrap: normal;
}
