#markdown-toc {
  @extend .menu-list;

  &, ul {
    margin: 0;
    list-style: none;
  }
}

$sel: '';
@for $i from 1 through 9 {
    $sel: if($i == 1, "ul", selector-nest($sel, "ul")) !global;

    #markdown-toc.toc-depth-#{$i} #{$sel} {
      display: none;
    }
}

// Definition list is not defined in bulma
dl {
  dt {
    display: inline;
    font-weight: bold;
  }

  dd {
    display: inline;

    &::after {
      content: "\A";
      white-space: pre;
    }
  }
}

.blogwidth{
  width: 75%;
  margin:auto;
  word-wrap: normal;
}
