.banner-image{
  justify-content: center;
  display: flex;
  img{
    height: 256px;
  }
}

.event-social-icons {
  margin-left: 10px;
  line-height: 0.60em;
  font-size: 0.60em;

  .fa {
    margin-right: 5px;

    @include tablet {
      vertical-align: baseline;
    }
  }
}

.header-text {
  padding: 20px;

  &.light-background {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--bulma-text-40-invert);
  }
}

.has-vertical-center {
  display: flex;
  align-items: center;
}

.event-title {
  display: flex;

  @include mobile {
    flex-direction: column;
    text-align: center;
  }
}

.map-wrapper {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 400px;

  padding: 0;

  iframe {
    height: 100%;
    width: 100%;
  }
}

.event-tile-image {
  max-width:200px;
  max-height:200px;

  // For now, don't show the event tile image on mobile, takes too much space
  @include mobile {
    display: none;
  }
}
