
.box.event-preview {
  border-radius: 0px;
  display: flex;
  box-shadow : none;
  margin: 0px;
  padding:20px;
  padding-top:0px;

  .image {
    vertical-align: baseline;
    border: 1px solid gray;
  }

  .info {
  padding:20px;
  padding-top:0px;
    box-shadow : none;
    width: 60%;

    .title {
      font-size: 1.7em;
      font-weight: 500;
      margin-bottom: 0;
      a {
        color: darken(gray, 20%);
      }
      a:hover {
        border-bottom: none;
        color: #FF7F00;
      }
    }

    .location  {
      font-size: .9em;
      a {
        color: lighten(gray, 10%);
      }
    }

    .description {
      font-size: 1.7em;
      font-weight: 200;
    }

    .time {
      font-size: 1.6em;
      font-weight: 400;
    }

    //for better spacing on mobile
    @include mobile {
      width: 100%;
    }
  }

  .main-event {
    border-left: 1px solid gray;
    border-radius: 0px;
    box-shadow: none;
    height: 8em;

    ul {
      padding-left: .7em;
    }

    .active {
      color: #FF7F00;
    }
  }
}

.sponsors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  > a {
    width: 300px;
    margin: 10px;
    text-align: center;
  }
}
