.google-maps {
  position: relative;
  height: 400px;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 400px;
  }
}

.banner-image{
  justify-content: center;
  display: flex;
  img{
    height: 256px;
  }
}

.event-attributes {
  font-size: 1.3em;
}

.event-social-icons {
  margin-left: 10px;

  .fa {
    margin-right: 5px;
    font-size: 0.60em;
    vertical-align: baseline;
  }
}

.header-text {
  float: left;
  padding: 20px;

  &.light-background {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.has-vertical-center {
  display: flex;
  align-items: center;
}
