html, body {
  height: 100%;
  width: 100%;
}
.fa-ul {
  list-style: none !important;

  .fa {
    font-size: inherit;
  }
}


#navbar {
  align-items: flex-end;

  #logo-link {
    #logo {
      width: 100px;
    }
  }
  .nav {
    height: 100%;
    align-items: flex-end;
    .nav-item {
      transition: 0.2s;

      font-variant: small-caps;
      font-size: 1.25em;

      &:hover {
        transition: 0.2s;
      }
    }
  }
}

footer {
  .fa {
    font-size: inherit;
    text-align: inherit;
    vertical-align: inherit;
  }
}
