.fa-ul {
  list-style: none !important;

  .fa {
    font-size: inherit;
  }
}

.has-text-justified {
  text-align: justify;
}


#navbar {
  align-items: flex-end;

  #inline-logo {
    min-width: 38.703px;
  }
  #logo-link {
    #logo {
      padding-top: 10px;
      padding-left: 10px;
      width: 100px;
    }
  }
  .nav {
    height: 100%;
    align-items: flex-end;
    .nav-item {
      transition: 0.2s;

      font-variant: small-caps;
      font-size: 1.15em;

      &:hover {
        transition: 0.2s;
      }
    }
  }
}

footer.footer {
  padding-bottom: 40px;
  .fa {
    font-size: inherit;
    text-align: inherit;
    vertical-align: inherit;
  }
}

::selection {
  color: white;
  background: rgba(255, 127, 0, 0.99);
}
