#navbar {
    align-items: flex-end;
    margin-bottom: 10px;
    z-index: 100;

    #logo-link {
        padding-bottom: 0;
        position: relative;

        #santa {
            bottom: 0;
            left: 5px;
            position: absolute;
            width: 60px;
            z-index: 300;
        }
    }

    .navbar:not(.is-transparent) #logo-link {
        @include desktop {
            border-bottom: 2px solid $body-background;
            margin-bottom: -2px;
            width: 124px;
        }


        #logo {
            @include desktop {
                max-width: none;
                max-height: none;
                left: 0;
                bottom: 5px;
                width: 100px;
                position: absolute;
            }
        }
    }

    .navbar-item {
        font-variant: small-caps;
        font-size: 1.15em;
    }

    @include touch {
        .navbar-menu {
            position: absolute;
            width: 100%;
        }
    }

    .navbar:not(.is-transparent) {
        .navbar-item {
            &:not(.is-active) {
                color: #7a7a7a;
            }

            &.is-active {
                color: $primary;
                border-bottom: 2px solid;
                margin-bottom: -2px;
            }
        }
    }

    #ledenformulier {
        color: $zeus-orange;

        @include desktop {
            transform: rotate(10deg);
        }
    }
}
