#navbar {
  align-items: flex-end;

  z-index: 100;
  margin-bottom: 10px;

  .logo-wrapper {
    padding-bottom: 0;
    position: relative;

    #santa {
      position: absolute;
      z-index: 300;
      left: 5px;
      top: 10px;
      width: 60px;
    }
  }

  .nav-menu {
    z-index: 20;
  }

  .actual-nav-bar {
    padding: 0;
    margin: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
  }

  #inline-logo {
    min-width: 38.703px;
  }

  #logo-link {
    #logo {
      padding-left: 10px;
      width: 100px;
    }
  }

  //Height of the line underneath when hovering over a menu item
  $border-height: 3px;

  .nav {
    height: 100%;
    align-items: flex-end;
    z-index: auto;

    .nav-item {
      transition: 0.2s;

      font-variant: small-caps;
      font-size: 1.15em;

      &:not(.nav-search) {
        border-bottom: $border-height solid transparent;
        border-top: 3px solid transparent;
      }

      &:hover {
        transition: 0.2s;
      }

      &.social-icon {
          padding-left: 5px;
          padding-right: 5px;
      }

      &:not(.nav-search):hover, &.is-active {
        border-bottom-color: $zeus-orange;
      }
    }
  }
}

.hero {
  #logo {
    padding-top: 25px;
  }
  
  .nav-right {
    padding-right: 10px;
  }
}
