.imgspace {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.imgcenter {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}

.padbot {

    padding-bottom: 15px;

}

.padtop {

    padding-top: 25px;

}
