.links {
  flex: 1;
  align-self: flex-end;
  align-items: flex-end;
  padding-right: 20px;

  div {
    margin: 10px;
  }
}

@media (max-width: #{$tablet}) {
  .links {
    align-self: center;
  }
}

.rows {
  display: flex;
  flex-direction: column;
}

.project {
  background-color: $body-background;
  margin-top: 30px;
}

.logo {
  height:  10vw;
  width: 10vw;
  min-width: 100px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.logo-initial {
  margin: auto;
  color: white;
  font-size: 6vw;
  font-family: $family-sans-serif;
}

.logo-index {
  font-size: 4vw;
  color: white;
}
