#tipue_search_input {
  background: none;
  padding: 12px;
  font: inherit;
  color: inherit;

  width: 40px;

  border-color: rgba(0, 0, 0, 0);

  display: flex;
  flex-direction: row;

  justify-content: inherit;

  transition: all 0.5s;

  overflow: hidden;

  input {
    background: none;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    margin: 0;

    color: inherit;
  }

  &:hover, &:focus, &.focused {
    width: 170px;
    border: 1px solid #e2e2e2;
  }

  &::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f002 ";
    color: inherit;
    padding-right: 5px;
  }
}
