$top_coder_size: 80px;

#homepage {
  .box {
    img {
      width: 100%;
    }
  }
}

.event-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  filter: grayscale(30%);

  .event-content {
    color: $text;
    height: 100%;
    width: 100%;
    // background: rgba($tertiary, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    .event-text {
      display: inline-block;
      font-size: 1.1em;
      margin-left: 10px;
      margin-right: 10px;

      >h2 {
        margin-bottom: 0;
      }

      >hr {
        margin: 0.4rem 0;
      }

      .event-time-loc {
        margin-left: 10px;
        margin-right: 10px;
       }
    }


    .is-divider {
      margin: 0.5em;
    }
  }

}

.centering {
  display: flex;

  justify-content: center;
  align-items: center;
}
.highlighted {
  background: $tile-orange;
  .content {
    color: white;

    h1, h2, h3 {
      color: inherit;
    }
    a, a:visited {
      color:inherit;
    }
  }
}

.icon a{
  color:$tile-orange;
}

#gamification-coders {
  font-variant: all-small-caps;
  display: flex;

  justify-content: center;

  table {
    position: relative;

    tr:first-child {
      width: $top_coder_size;
      height: $top_coder_size;
      .picture img {
        width: $top_coder_size !important;
        height: $top_coder_size;
        box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,0.2);
      }
    }
    td {
      padding: 0;
      vertical-align: middle;
      text-align: center;
      &.picture {
        width: $top_coder_size !important;
      }
      &.score {
        padding-right: 10px;
        text-align: right;
      }
    }
  }

  .picture img {
    z-index: 1;
    margin: 10px 0;
    width: 40px !important;
    height: 40px;
    border-radius: 50px;
    vertical-align: middle;
  }

}

#blokmap-tile {

  position: relative;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .2)), url("https://cldup.com/-FmSDFbd07.jpg");
  background-position: center;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .content {
    position: relative;

    h1, h2, h3 {
      color: white;
    }

    h2 {
      margin-top: 0;
    }
  }
}

.teaser{
  font-style: italic;
}

.description{
  font-weight: bold;
}

.backgroundimg{
  background-position: center;
}

.gamification-tile {
  overflow: hidden;
  padding: 0;

  .tile-header {
    background-color: $primary;
    padding: 20px;
    h1 {
      margin: 0;
    }
    a, a:visited {
      color: white;
    }
  }

  #gamification-coders {
    padding: 20px;
  }
}
