$top_coder_size: 80px;

a.box {
  &:hover {
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px $blue
  }
}

#homepage {
  .box {
    border-radius: 0;

    img {
      width: 100%;
    }
  }
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlighted{
  background: $tile-orange;
  .content {
    color: white;

    h1, h2 {
      color: inherit;
    }
    a, a:visited {
      color:inherit;
    }
  }
}
#quote{
  font-style: italic;
}

.icon a{
  color:$tile-orange;
}

#gamification-coders {
  display: flex;
  justify-content: center;

  table {
    position: relative;

    tr:first-child {
      height: $top_coder_size;
      width: $top_coder_size;
      .picture img {
        height: $top_coder_size;
        width: $top_coder_size !important;
        box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,0.2);
      }
    }
    td {
      vertical-align: middle;
      text-align: center;
      padding: 0;
      &.picture {
        width: $top_coder_size !important;
      }
      &.score {
        text-align: right;
        padding-right: 10px;
      }
    }
  }

  .picture img {
    height: 40px;
    width: 40px !important;
    vertical-align: middle;
    margin: 10px 0;
    border-radius: 50px;
    z-index: 1;
  }

}

#blokmap-tile {
  position: relative;

  height: 200px;
  //background-image: url("https://i.imgur.com/PMaIG7X.jpg");
  background-image: url("https://cldup.com/-FmSDFbd07.jpg");

  background-position: center;

  .overlay {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .content {
    position: relative;

    h1, h2 {
      color: white;
    }

    h2 {
      margin-top: 0;
    }
  }
}

.teaser{
  font-style: italic;
}

.description{
  font-weight: bold;
}

.backgroundimg{
  background-position: center;
}
