a.box {
  color: #000;
}

.box {
  background-color: $box-colour;

  &.highlighted {
    background-color: $highlighted-box-colour;
    color: $highlighted-text-colour;

    .content {
      h1 {
        color: white;
      }
    }
  }
}
