a.box {
  color: #000;
}

#homepage {
  .box {
    background-color: $box-colour;

    &.highlighted {
      background-color: $highlighted-box-colour;
      color: $highlighted-text-colour;

      .content {
        h1, h2 {
          color: white;
        }
      }
    }
  }
}

.centering {
  display: flex;
  justify-content: center;
}
