// CSS related to the TOC

#table-of-contents {
  #markdown-toc {
    @extend .menu-list;

    &, ul {
      margin: 0;
      list-style: none;
    }
  }

  @include tablet {
    position: absolute;
    left: 100%;
  }

  @include mobile {
    text-align: center;
  }
}

$sel: '';
@for $i from 1 through 9 {
  $sel: if($i == 1, "ul", selector-nest($sel, "ul")) !global;

  #markdown-toc.toc-depth-#{$i} #{$sel} {
    display: none;
  }
}

// Must be applied to the element containing the toc
.toc-container {
  position: relative;
}