// Colours
$zeus-orange: #FF7F00;
$zeus-blue: #00C4FF;

$body-background: white;

$tile-orange: $zeus-orange;

$navbar-border-color: #CCC;
$event-border-color: #DDD;

$orange: $zeus-orange;
$blue: $zeus-blue;
$turquoise: #30D1B2;

$family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$link: $orange;
$link-visited: $orange;

$border-hover: $blue;

$box-colour: #EEE;
$highlighted-box-colour: $zeus-orange;
$highlighted-text-colour: white;
$highlighted-link-colour: #222324;

$cammie-controls-color: rgba(0, 0, 0, 0.60);

$event-padding: 10px;

$primary: $orange;
$secondary: $zeus-blue;
$tertiary: $box-colour;

// Default font size
// $size-normal: 15px;
