// Colours
$zeus-orange: #FF7F00;
$zeus-blue: #00C4FF;

$body-background: white;

$tile-orange: $zeus-orange;

$navbar-border-color: #CCC;
$event-border-color: #DDD;

$orange: $zeus-orange;
$blue: $zeus-blue;
$turquoise: #30D1B2;

$link: $orange;
$link-visited: $link;

$border-hover: $blue;

$box-colour: #EEE;
$highlighted-box-colour: $zeus-orange;
$highlighted-text-colour: white;
$highlighted-link-colour: #222324;

$cammie-controls-color: rgba(0, 0, 0, 0.60);

$event-padding: 10px;

$primary: $orange;
$secondary: $zeus-blue;
$tertiary: $box-colour;
