// Colours
$zeus-orange: #FF7F00;
$zeus-blue: #00C4FF;

$body-background: white;

$tile-orange: #ff9f1a;

$navbar-border-color: #CCC;
$event-border-color: #DDD;

$orange: $zeus-orange;
$blue: $zeus-blue;
$turquoise: #30D1B2;

$primary: $orange;

$family-sans-serif: 'Lato', sans-serif;

$link-visited: $orange;

$border-hover: $blue;

$box-colour: #EEE;
$highlighted-box-colour: $zeus-orange;
$highlighted-text-colour: white;
$highlighted-link-colour: #222324;

$cammie-controls-color: rgba(0, 0, 0, 0.60);

$event-padding: 10px;

// Default font size
// $size-normal: 15px;
