#### joe made this: http://goel.io/joe
# For projects using nanoc (http://nanoc.ws/)

# Default location for output, needs to match output_dir's value found in config.yaml
output/

# Temporary file directory
tmp/

# Crash Log
crash.log*

.idea/

.sass-cache/

# For some reason a node_modules appeared in content/ and it fucked up compilation
# so now this is /node_modules/ instead of node_modules/ (so you at notice
# there's a weird directory).
/node_modules/

*.iml

.author-information

.fb_token
