#!/usr/bin/env ruby

# HTML
compile '/**/*.html' do
  layout '/default.*'
end

# Markdown
compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    "#{item.identifier.without_ext}/index.html"
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
