---
navigable: true
title: About
---
<div class="content">
  <h1>Over Zeus WPI</h1>

  <p>
    Zeus WPI is de werkgroep informatica van de Universiteit Gent. Oorspronkelijk stond WPI voor Werkgroep Publieke Informatica en hostten wij de eerste mailserver van de UGent.
  </p>

  <p>
    Wij zijn studenten die het gebruik van Free and Open Source Software (FOSS) promoten, lessen geven over nuttige software als LaTeX en introducties geven tot programmeertalen zoals Python, Ruby of PHP. Daarnaast bieden we ook enkele diensten aan zoals shell-accounts, web-hosting, git-repositories, enz. Doorheen het academiejaar engageren we ons ook in verschillende projecten, zo zijn we sinds enkele jaren verantwoordelijk voor het telsysteem van de <a href="http://12urenloop.be/">12Urenloop</a> of ondersteunen we het <a href="http://www.fkgent.be/">FaculteitenKonvent</a> bij ICT-projecten.
  </p>

  <p>
    Iedereen is welkom bij Zeus WPI, ook al studeer je geen informatica. Het enige wat je nodig hebt is een gezonde dosis interesse en een beetje geeky aanleg.
  </p>

  <h2>Het bestuur</h2>

  Het bestuur zorgt ervoor dat alle wieltjes blijven draaien en organiseert regelmatig activiteiten voor de leden.
  Het bestuur voor het academiejaar 2016-2017 van Zeus WPI is:

  <table class="table">
    <thead>
      <th>
        Functie
      </th>
      <th>
        Naam
      </th>
      <th>
        
      </th>
    </thead>
    <tbody>
      <% data_from(:bestuur).each do |lid| %>
      <tr>
        <td>
          <%= lid['rol'] %>
        </td>
        <td>
          <%= lid['naam'] %>
        </td>
        <td>
          <a href="mailto:<%= lid['mail'] %>">
            <%= fa :envelope %>
          </a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </ul>

  <h2>Zeus waar? Zeus daar!</h2>

  <p>
    Zeus WPI heeft een lokaal in de kelder van gebouw S9 op campus de Sterre, die door de leden liefkozend “de kelder” genoemd wordt. Daar staat het volledige computerpark van Zeus WPI.
  </p>

  Zeus bereik je zo:

  <ul>
    <li>
      kom naar de kelder en spring eens binnen
    </li>
    <li>
      stuur een mailtje naar <a href="mailto:bestuur@zeus.ugent.be">het bestuur</a>
    </li>
    <li>
      stuur een gele briefkaart naar “Zeus WPI – Krijgslaan 281, S9 – 9000 Gent”
    </li>
    <li>
      bezoek ons <a href="irc://wina.ugent.be/#zeus">IRC-kanaalserver</a>
    </li>
    <li>
      bel naar <a href="tel://+3292644751">09 264 4751</a> (intern: 4751)
    </li>
    <li>
      stort op BE32 9799 9370 6502 (BIC: ARSP BE 22)
    </li>
    <li>
      volg ons op Twitter: <a href="http://twitter.com/ZeusWPI">@ZeusWPI</a>
    </li>
    <li>
      word fan op <a href="https://www.facebook.com/zeus.wpi">Facebook</a>
    </li>
  </ul>
</div>
