<div class="fullpage">
  <img
    id="cammie"
    src="https://kelder.zeus.ugent.be/webcam/video/mjpg.cgi?profileid=2"
    alt=""
   />
  <div id="left" class="ctrl" command="set_relative_pos" posX="-10" posY="0">
    <i class="fa fa-chevron-left fa-2x"></i>
  </div>
  <div id="right" class="ctrl" command="set_relative_pos" posX="10" posY="0">
    <i class="fa fa-chevron-right fa-2x"></i>
  </div>
  <div id="up" class="ctrl" command="set_relative_pos" posX="0" posY="10">
    <i class="fa fa-chevron-up fa-2x"></i>
  </div>
  <div id="down" class="ctrl" command="set_relative_pos" posX="0" posY="-10">
    <i class="fa fa-chevron-down fa-2x"></i>
  </div>
</div>

<script src="/assets/scripts/cammie.js"></script>
