<img class="pure-img" id="event-banner" src="https://zeus.ugent.be/wp-content/uploads/2016/02/battlebots_small.jpg" alt="" />

<div id="event-content">
  <div id="sticky-anchor"></div>
  <div id="sticky">
    <h1 id="event-title">Geeks, Attack! LXII</h1>
    <nav id="navbar">
      <span class="navlink">About</span>
      <span class="navlink">All posts</span>
      <span class="navlink">Contact</span>
      <span class="navlink">Cammie</span>
    </nav>
  </div>
  <div class="pure-g">
    <div id="event-description" class="pure-u-3-4">
      Op 26 april om 18:00 in Auditorium A2, Campus Sterre, Gebouw S9 organiseren we een workshop over Xtext. Xtext is een framework om nieuwe domein-specifieke computertalen (DSLs) mee te ontwerpen. Een DSL kan een nieuwe programmeertaal zijn, maar is meestal erg specifiek: bijvoorbeeld voor het besturen van robots, voor controle van wasmachines of voor sturing van de on-board computer in auto’s. Mensen die deze machines maken zijn vaak geen programmeurs, en zij kunnen veel vlotter werken met een DSL dan met een algemene programmeertaal.

      Met Xtext maak je je eigen taal, de compiler en de ontwikkelomgeving in één keer.

      In deze workshop geven wij in samenwerking met Sigasi eerst een overzicht over waarom je een DSL wil gebruiken en hoe Xtext werkt. Vervolgens demonstreren we Xtext met een eenvoudig voorbeeld.

      Daarna kan je zelf een Eclipse plugin ontwikkelen met behulp van Xtext voor je eigen DSL. Wij zijn er om jullie te helpen.

      Over Sigasi:
      Sigasi is een Gentse Startup die Xtext gebruikt voor de ontwikkeling van Eclipse plugins voor VHDL en Verilog. Dit zijn talen die gebruikt worden voor het ontwerpen en testen van chips.
    </div>
    <div id="event-info" class="pure-u-1-4">
      <i class="fa fa-clock-o"></i>26 april om 18:00<br />
      <i class="fa fa-globe"></i>Auditorium A2, Campus Sterre, Gebouw S9
    </div>
  </div>
</div>

<script src="/index.js"></script>
