---
navigable: true
title: Events
order: 20
---

<div>
  <div class="content">
    <h1>Upcoming events</h1>
  </div>
  <div class="container">
  <% upcoming_events.each_slice(2) do |slice| %>
    <!-- <hr class="divider"> -->
    <div class="columns">
      <% slice.each do |event| %>
        <% if (sub_events(event)).empty? %>
          <div class="tile is-parent ">
            <%= render '/partials/_events_tile.*',
              article: event,
              small_text: event[:time].strftime('%A %d %B %Y %H:%M'),
              location: event[:location],
              color: event[:color] %>
        </div>
        <!-- Render old event_preview when using subevent, for now not used
        <% else %>
          <% sub_events(event).each do |sub_event| %>
            <%= render '/partials/_event_preview.*', event: sub_event, main_event: event %>
          <% end %>
        <% end %>
      -->
      <% end %>
    </div>
  <% end %>
</div>
  <div class="content ">
    <h1>Past events</h1>
  </div>
  <% past_events.each_slice(2) do |slice| %>
    <!-- <hr class="divider"> -->
    <div class="columns">
      <% slice.each do |event| %>
        <% if (sub_events(event)).empty? %>
              <div class="tile is-parent ">
                <%= render '/partials/_events_tile.*',
                  article: event,
                  small_text: event[:time].strftime('%A %d %B %Y %H:%M'),
                  location: event[:location],
                  color: event[:color] %>
            </div>
        <!-- Render old event_preview when using subevent, for now not used
        <% else %>
          <% sub_events(event).each do |sub_event| %>
            <%= render '/partials/_event_preview.*', event: sub_event, main_event: event %>
          <% end %>
        <% end %>
      -->
      <% end %>
    </div>
  <%end%>

</div>
