---
navigable: true
title: Events
---

<div>
  <div class="content">
    <h1>Upcoming events</h1>
  </div>

  <% all_events.each do |event| %>
    <!-- <hr class="divider"> -->
    <% if (sub_events(event)).empty? %>
      <%= render '/partials/_event_preview.*', event: event %>
    <% else %>
      <% sub_events(event).each do |sub_event| %>
        <%= render '/partials/_event_preview.*', event: sub_event %>
      <% end %>
    <% end %>
  <% end %>
</div>
