<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Brand New Nanoc Site - <%= @item[:title] %></title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="/stylesheet.css">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div class="pure-g">
      <div class="pure-u-1-6">
        <img class="pure-img" src="https://zeus.ugent.be/wp-content/uploads/2009/05/logo-new.png" alt="" />
      </div>
      <div class="pure-u-1-2">
        <p>
          Hey
        </p>
      </div>
      <div class="pure-u-1-3">
        <p>
          Hey
        </p>
      </div>

      <div class="pure-u-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum numquam, corporis labore, facilis minima, nisi fuga beatae molestiae eaque quas blanditiis! Laboriosam dicta modi nobis harum dolorem illo quo ipsam reiciendis, nemo a cumque dignissimos incidunt aliquam dolore molestias excepturi perferendis, placeat quam repellat doloremque? Veritatis animi doloribus, iusto officia maxime ullam optio soluta! Et fugiat suscipit ipsum id amet accusantium ut, corporis earum tenetur iure. Nihil non suscipit atque sed obcaecati soluta possimus cum ad sequi mollitia voluptatibus veritatis aperiam neque voluptatem, dolorum exercitationem. Unde quos quas, maxime maiores nihil, eligendi a tenetur quaerat accusamus, cum molestiae ipsam nisi, sit tempora enim et! Deserunt quia quos, nulla expedita fugit voluptatum numquam eaque. Ea quae aliquid ipsam. Cum neque quos dolorum officiis ipsum tempore tempora fuga quod, dolore necessitatibus aspernatur excepturi saepe eum dicta laudantium! Cumque sapiente illum vel porro! Laboriosam laborum iusto, asperiores aut quo adipisci dolorum velit deserunt quis, explicabo, necessitatibus repellat odit nulla. Qui, exercitationem, quod dicta numquam nam illo aut ea, quia tempore obcaecati sunt sed laborum veniam vitae, recusandae voluptatibus odio soluta modi harum fugiat. Autem eaque veritatis aliquid quis harum reprehenderit consectetur, distinctio inventore, tempore magni architecto ea fugiat sapiente quisquam earum molestiae numquam sequi adipisci corrupti optio in illo assumenda sint amet! Libero sunt, accusamus repellendus magni numquam accusantium deleniti animi id nulla quo, odio soluta blanditiis rerum sint nam earum alias, iure ex in omnis esse necessitatibus asperiores assumenda cupiditate non? Eos enim eligendi esse nisi assumenda, voluptas velit culpa fuga, minima earum repellendus? Autem incidunt ut illum consequuntur assumenda rem molestiae ex quae, animi sint explicabo ea obcaecati nam quia suscipit tempora sit maiores quis vitae eveniet cumque accusamus unde magni! Culpa ex dolore, veniam officiis, labore obcaecati inventore praesentium eveniet veritatis illum, voluptatibus? Dolor, hic, quae? Aspernatur, earum, impedit accusantium blanditiis, deleniti doloribus quam asperiores, iste facilis dolorum magnam voluptate. Laboriosam accusantium totam veritatis asperiores ab aliquid et ad aspernatur, velit dolores nostrum libero beatae vel sapiente corporis. Sunt sit explicabo perspiciatis facere velit illo nemo, fugiat aut dolorum temporibus deleniti, dolores, necessitatibus itaque. Provident rem voluptates odit reprehenderit ut modi rerum consequuntur iusto exercitationem quo ad culpa, tenetur enim, quaerat quod natus unde officia placeat quis cupiditate maxime quos eum ea quisquam deserunt. Accusamus quis cupiditate in et repellat excepturi, ut natus recusandae! Alias sed accusamus et tempora ut, debitis minima aperiam tempore, facere eum sint cupiditate sapiente. Velit at, rem ea alias? Modi, voluptas. Ipsa quas qui in nihil ea atque odit, ullam saepe eum sit maiores magnam sunt quod totam quisquam quibusdam quidem praesentium ab veniam, doloribus dignissimos aperiam aliquid optio. Sed, accusantium molestiae dicta corporis ratione veritatis velit. Dolorem molestiae voluptas amet voluptatem beatae mollitia sint ratione inventore quae quos soluta quam, modi quibusdam doloremque, aut pariatur totam nam, earum incidunt placeat. Necessitatibus fugiat at quod neque doloremque dicta blanditiis voluptate veniam corrupti repellat totam saepe, quis. Animi reprehenderit, voluptatum tenetur, fugit possimus accusamus. Et eum non, explicabo dolor, eveniet ullam harum eligendi omnis minus in ducimus rerum natus vitae qui, maiores excepturi! Quas a, doloribus possimus assumenda, ullam consectetur. Est ducimus dicta eius repellendus sit blanditiis nisi nihil minima non excepturi commodi esse consectetur odio laudantium nesciunt ea placeat, eum. Dolore facilis soluta amet nostrum quas eius officia nam, nesciunt delectus adipisci eum ratione provident asperiores suscipit dolor eligendi aperiam modi, numquam animi, nihil ex est excepturi at repudiandae. Molestiae assumenda obcaecati aliquid deserunt, iste a, facilis officiis modi suscipit at nostrum ad, corrupti velit. Provident pariatur, nostrum atque. Fugiat quod debitis aperiam provident numquam error, aspernatur deserunt voluptas similique quaerat iste repudiandae accusamus labore quam excepturi. Atque inventore recusandae veniam placeat veritatis accusamus quas, mollitia eaque dolor sit aliquam sequi neque voluptatibus eos qui nulla. Autem a sint quos, qui eum eos voluptas omnis nostrum earum? Dolore illo non impedit quas, fugiat dicta alias incidunt, quae libero aspernatur odio totam perspiciatis molestias sunt velit blanditiis explicabo aut. Facilis magnam vero voluptate voluptatibus laudantium praesentium neque nemo quo quia, perferendis laboriosam excepturi quaerat laborum aut, architecto repellat sed tempore pariatur eius. Quasi nisi beatae aut, eos nobis distinctio, fuga eligendi, consequatur, laudantium culpa omnis possimus. Et, cum, ducimus. Animi libero labore vitae dolorem magnam, quae modi asperiores distinctio, commodi suscipit a, quas incidunt, voluptatum officiis! Eius saepe temporibus, quasi officia dolorem ipsa cumque facilis aliquid suscipit eveniet, porro molestias explicabo optio quam dolore non modi est accusantium ipsam. Error harum illo facilis dolore soluta ipsam laboriosam iste id, dicta labore odio velit alias illum autem suscipit, explicabo ipsum. Praesentium, quas, delectus beatae impedit aliquam voluptate sit hic fugit nulla perspiciatis necessitatibus repellendus nisi dolorem excepturi. Quae inventore dolor veritatis ipsum, tenetur odio voluptatum rem, incidunt officia ex, harum numquam saepe necessitatibus similique sint reprehenderit quas. Fuga error eum est accusamus at dolorum dignissimos necessitatibus recusandae natus id. Quisquam porro voluptatibus iste ad sapiente debitis vero omnis eaque. Magnam magni nisi odit nam officiis cumque ratione dicta inventore. Aliquam fuga repellat excepturi, quod omnis ex, vero sapiente! Sequi, dignissimos, esse. Totam ullam, aliquam, quaerat expedita sequi iusto non itaque, magnam tempora esse quidem quisquam similique culpa suscipit doloremque? Exercitationem quibusdam, modi corrupti perspiciatis harum quod voluptatem aliquam dicta quaerat, quidem, dignissimos facere asperiores ab commodi repellendus repudiandae neque consectetur enim. Debitis aspernatur eum eos vero, voluptate labore, optio impedit quas a minus laborum recusandae est et fugit earum vitae velit cupiditate. Aspernatur at, laborum iusto in id, quis deleniti reiciendis, sunt, perferendis molestias quas. Nostrum suscipit hic commodi nemo velit asperiores cupiditate tempora, dolor ex ratione, magni vitae dignissimos alias incidunt dolore placeat excepturi temporibus enim nulla at, officiis odit sapiente eius. Nam dolore dolorem ex, at eaque recusandae, deleniti adipisci laudantium minus odit nisi perspiciatis velit eligendi maiores magni! Quis libero quasi a amet expedita commodi soluta itaque qui dignissimos eligendi, nobis quisquam ad adipisci. Optio consequuntur consequatur magnam maiores accusantium sint, aperiam explicabo at odio a, illum mollitia quos ipsam assumenda dignissimos. Odit aliquam, dolorum ratione enim, quod ex! Molestias in quidem vitae, assumenda!
      </div>
    </div>
  </body>
</html>
