<header class="pure-g">
  <img id="logo" src="http://i.imgur.com/W5d4B8E.png" alt="" />
  <div class="pure-u-3-4">
  </div>
  <div id="top-coder" class="pure-u-1-4">
    <span id="top-coder-name"></span> is awesome!
  </div>
</header>

<main class="pure-g">
  <div id="events" class="pure-u-3-4">
    <div class="pure-g">
      <div id="event-main" class="pure-u-1">
        <img class="event-bg" src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/10387247_891288404215534_5554674183923619970_n.jpg?oh=a13a417d22c931b2cbac1c3f17cc6a30&oe=57DD7FB4" />
        <span class="event-title">Geeks, Attack!</span>
      </div>
      <div class="event pure-u-1-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi hic id a enim natus, doloribus explicabo quis. Nostrum, odit. Aperiam.</div>
      <div class="event pure-u-1-4">Similique molestiae, repudiandae sequi tempora modi beatae, doloremque est fugit totam veniam ad impedit dolore excepturi dolorum officia adipisci reprehenderit.</div>
      <div class="event pure-u-1-4">Quaerat a quos recusandae voluptates provident dolore tenetur possimus, mollitia sapiente accusamus veritatis natus deleniti quibusdam odit, explicabo! Non, earum.</div>
    </div>
  </div>
  <div id="github-feed" class="pure-u-1-4 l-box">
      <ul></ul>
  </div>
</main>
<footer>hey</footer>
