---
navigable: true
title: Projecten
---
  <div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                <p class="title has-text-centered">Hydra</p>
                <div class="imgcenter"><img src="https://camo.githubusercontent.com/c10b728127bc26db9cb80879072e2119276f5b7a/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f353637362f34363935352f30313031636566342d353861382d313165322d386231362d3036353337633338613863662e706e67"></div>
                    <p></p>
                <p class="subtitle has-text-centered">Android, iOS, and Windows 10 application providing all the information a student at Ghent University needs.</p>    
                    <div class="imgspace">
                    <a href="https://itunes.apple.com/be/app/hydra/id602640924"><img src="https://camo.githubusercontent.com/c5065f53773c01c20c7cb90cbbefc9552b4e3187/687474703a2f2f73747564656e742e7567656e742e62652f68796472612f696d672f73746f72652d696f732e706e67"></a>
                    <a href="http://play.google.com/store/apps/details?id=be.ugent.zeus.hydra"><img src ="https://camo.githubusercontent.com/2b3471ae9f71b68d99ec52802a1c14c9a6803086/687474703a2f2f73747564656e742e7567656e742e62652f68796472612f696d672f73746f72652d616e64726f69642e706e67"></a>
                    
                    <a href="http://www.windowsphone.com/s?appId=08d3268e-aad6-48fa-ae83-5ccd1663e73a"><img src="assets/images/win.png"></a>
                    </div>
                    <p></p>
                    <div class=" imgspace">
                <a href="https://github.com/ZeusWPI/hydra-iOS">iOS <span class="icon"><i class="fa fa-github"></i></span></a>
                   
                <a href="https://github.com/ZeusWPI/hydra-android">Android <span class="icon"><i class="fa fa-github"></i></span></a>      
                        
                <a href="https://github.com/ZeusWPI/hydra-windows">Windows 10 <span class="icon"><i class="fa fa-github"></i></span></a>
                    </div>
                </article>
            </div>
        </div>
      </div>
</div>
  <div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                <p class="title has-text-centered">Tap</p>
                <p class="subtitle has-text-centered">🍺   Yes. We have to drink. But we also have to pay. This does the drinking part. <a href="https://zeus.ugent.be/tap">zeus.ugent.be/tap</a></p>    
                    <div class=" imgspace">
                <a href="https://github.com/ZeusWPI/Tap">Tap <span class="icon"><i class="fa fa-github"></i></span></a>
                        
                    </div>
                </article>
            </div>
        </div>
      </div>
</div>





  <div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <div class="columns">
                        <div class="column is-one-quarter">
                            <p class="title has-text-centered">Tap</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-one-quarter imgspace">
                        <img src="https://camo.githubusercontent.com/c10b728127bc26db9cb80879072e2119276f5b7a/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f353637362f34363935352f30313031636566342d353861382d313165322d386231362d3036353337633338613863662e706e67">
                        </div>
                        <div class="column pad">
                            <p class="subtitle">🍺 Yes. We have to drink. But we also have to pay. This does the drinking part. <a href="https://zeus.ugent.be/tap">zeus.ugent.be/tap</a></p>    
                        </div>
                    </div>
                    <div class=" imgspace">
                        <a href="https://github.com/ZeusWPI/Tap">Tap <span class="icon"><i class="fa fa-github"></i></span></a>    
                    </div>
                </article>
                    
            </div>
        </div>
      </div>
</div>

  <div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <div class="columns">
                        <div class="column is-one-quarter kek">
                            <p class="title">Hydra</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-one-quarter">
                        <img src="https://camo.githubusercontent.com/c10b728127bc26db9cb80879072e2119276f5b7a/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f353637362f34363935352f30313031636566342d353861382d313165322d386231362d3036353337633338613863662e706e67">
                        </div>
                        <div class="column">
                            <p> </p>
                            <p class="subtitle">Android, iOS, and Windows 10 application providing all the information a student at Ghent University needs.</p>    
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                        <a href="https://itunes.apple.com/be/app/hydra/id602640924"><img src="https://camo.githubusercontent.com/c5065f53773c01c20c7cb90cbbefc9552b4e3187/687474703a2f2f73747564656e742e7567656e742e62652f68796472612f696d672f73746f72652d696f732e706e67"></a></div>
                        <div class="column has-text-centered">
                        <a href="http://play.google.com/store/apps/details?id=be.ugent.zeus.hydra"><img src ="https://camo.githubusercontent.com/2b3471ae9f71b68d99ec52802a1c14c9a6803086/687474703a2f2f73747564656e742e7567656e742e62652f68796472612f696d672f73746f72652d616e64726f69642e706e67"></a></div>
                        <div class="column has-text-right">
                        <a href="http://www.windowsphone.com/s?appId=08d3268e-aad6-48fa-ae83-5ccd1663e73a"><img src="assets/images/win.png"></a></div>
                    
                        </div>
                    <div class="columns">
                        <div class="column">
                <a href="https://github.com/ZeusWPI/hydra-iOS">iOS <span class="icon"><i class="fa fa-github"></i></span></a></div>
                   <div class="column has-text-centered">
                <a href="https://github.com/ZeusWPI/hydra-android">Android <span class="icon"><i class="fa fa-github"></i></span></a></div>      
                        <div class="column has-text-right">
                <a href="https://github.com/ZeusWPI/hydra-windows">Windows 10 <span class="icon"><i class="fa fa-github"></i></span></a></div>
                    </div>
                    
                </article>
            </div>
        </div>
      </div>
</div>