---
navigable: true
title: Projecten
---
<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <div class="columns">
                        <div class="column is-one-quarter has-text-centered padtop">
                            <img src="/assets/images/unnamed.png">
                        </div>
                        <div class="column">
                            <p class="title">Hydra</p>
                            <p class="subtitle">Android, iOS, and Windows 10 application providing all the information a student at Ghent University needs.</p>
                            <div class="columns">
                                <div class="column is-one-quarter"></div>
                                <div class="column imgspace">
                                    <a href="https://itunes.apple.com/be/app/hydra/id602640924"><img src="https://camo.githubusercontent.com/c5065f53773c01c20c7cb90cbbefc9552b4e3187/687474703a2f2f73747564656e742e7567656e742e62652f68796472612f696d672f73746f72652d696f732e706e67"></a>
                                    <a href="http://play.google.com/store/apps/details?id=be.ugent.zeus.hydra"><img src="https://camo.githubusercontent.com/2b3471ae9f71b68d99ec52802a1c14c9a6803086/687474703a2f2f73747564656e742e7567656e742e62652f68796472612f696d672f73746f72652d616e64726f69642e706e67"></a>
                                    <a href="http://www.windowsphone.com/s?appId=08d3268e-aad6-48fa-ae83-5ccd1663e73a"><img src="/assets/images/win.png"></a>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-one-quarter"></div>
                                <div class="column imgspace">
                                    <a href="https://github.com/ZeusWPI/hydra-iOS">iOS <span class="icon"><i class="fa fa-github"></i></span></a>
                                    <a href="https://github.com/ZeusWPI/hydra-android">Android <span class="icon"><i class="fa fa-github"></i></span></a>
                                    <a href="https://github.com/ZeusWPI/hydra-windows">Windows 10 <span class="icon"><i class="fa fa-github"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>


<% all_projects.each do |project| %>
  <%= render '/partials/_project.erb', project: project%>
<% end %>
</div>
