---
navigable: true
title: Projecten
order: 30
---
<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <div class="columns">
                        <div class="column is-one-quarter has-text-centered padtop">
                            <img src="/assets/images/unnamed.png">
                        </div>
                        <div class="column">
                            <p class="title">Hydra</p>
                            <p class="subtitle">Android, iOS, and Windows 10 application providing all the information a student at Ghent University needs.</p>
                            <div class="columns">
                                <div class="column is-one-quarter"></div>
                                <div class="column imgspace">
                                    <a href="https://itunes.apple.com/be/app/hydra/id602640924"><img src="https://camo.githubusercontent.com/c5065f53773c01c20c7cb90cbbefc9552b4e3187/687474703a2f2f73747564656e742e7567656e742e62652f68796472612f696d672f73746f72652d696f732e706e67"></a>
                                    <a href="http://play.google.com/store/apps/details?id=be.ugent.zeus.hydra"><img src="https://camo.githubusercontent.com/2b3471ae9f71b68d99ec52802a1c14c9a6803086/687474703a2f2f73747564656e742e7567656e742e62652f68796472612f696d672f73746f72652d616e64726f69642e706e67"></a>
                                    <a href="http://www.windowsphone.com/s?appId=08d3268e-aad6-48fa-ae83-5ccd1663e73a"><img src="/assets/images/win.png"></a>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-one-quarter"></div>
                                <div class="column imgspace">
                                    <a href="https://github.com/ZeusWPI/hydra-iOS">iOS <span class="icon"><i class="fa fa-github"></i></span></a>
                                    <a href="https://github.com/ZeusWPI/hydra-android">Android <span class="icon"><i class="fa fa-github"></i></span></a>
                                    <a href="https://github.com/ZeusWPI/hydra-windows">Windows 10 <span class="icon"><i class="fa fa-github"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <p class="title has-text-centered">FK-enrolment</p>
                    <p class="subtitle has-text-centered">Enrolment system for new members of FK-clubs at Ghent University.</p>
                    <div class="has-text-centered"><a href="https://github.com/ZeusWPI/FK-enrolment">FK-enrolment<span class="icon"><i class="fa fa-github"></i></span></a></div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <p class="title has-text-centered">Badass Bottle Bats</p>
                    <p class="subtitle has-text-centered">A bot writing contest <a href="https://zeus.ugent.be/bottlebats">https://zeus.ugent.be/bottlebats</a></p>
                    <div class="has-text-centered"><a href="https://github.com/ZeusWPI/aichallenge">Badass Bottle Bats<span class="icon"><i class="fa fa-github"></i></span></a></div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <p class="title has-text-centered">Haldis</p>
                    <p class="subtitle has-text-centered">Haldis is your friendly neighbourhood servant. He exists so lazy fucks like you and me don't need to keep tabs of who is ordering what from where. Start an order and let people add items with a simple mouse-click! No more calculating prices and making lists! Be lazier today!</p>
                    <div class="has-text-centered padbot subtitle"><a href="http://zeus.ugent.be/haldis">http://zeus.ugent.be/haldis</a></div>
                    <div class="has-text-centered"><a href="https://github.com/ZeusWPI/Haldis">Haldis<span class="icon"><i class="fa fa-github"></i></span></a></div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <p class="title has-text-centered">Tab</p>
                    <p class="subtitle has-text-centered">💰 Yes. We have to drink. But we also have to pay. This does the paying part. <a href="https://zeus.ugent.be/tab">https://zeus.ugent.be/tab</a></p>
                    <div class="has-text-centered"><a href="https://github.com/ZeusWPI/Tab">Tab<span class="icon"><i class="fa fa-github"></i></span></a></div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <p class="title has-text-centered">Gandalf</p>
                    <p class="subtitle has-text-centered">You Shall Not Pass - An advanced e-ticket system for student clubs - <a href="http://event.fkgent.be">http://event.fkgent.be</a></p>
                    <div class="has-text-centered"><a href="https://github.com/ZeusWPI/Gandalf">Gandalf<span class="icon"><i class="fa fa-github"></i></span></a></div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <p class="title has-text-centered">Lana</p>
                    <p class="subtitle has-text-centered">🐕 LAN-Party Assistant. An application to make the life of a LAN-partygoer easier!</p>
                    <div class="has-text-centered"><a href="https://github.com/ZeusWPI/Lana">Lana<span class="icon"><i class="fa fa-github"></i></span></a></div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <p class="title has-text-centered">Saruman</p>
                    <p class="subtitle has-text-centered">Saruman is a material management tool where partners can reserve stuff.</p>
                    <div class="has-text-centered"><a href="https://github.com/ZeusWPI/Saruman">Saruman<span class="icon"><i class="fa fa-github"></i></span></a></div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <p class="title has-text-centered">12urenloop</p>
                    <p class="subtitle has-text-centered">Application to count laps based on bluetooth dongle detection <a href="http://12urenloop.be">http://12urenloop.be</a></p>
                    <div class="has-text-centered"><a href="https://github.com/ZeusWPI/12urenloop">12urenloop<span class="icon"><i class="fa fa-github"></i></span></a></div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="tile is-vertical">
            <div class="tile">
                <article class="tile is-child notification is-default">
                    <p class="title has-text-centered">SlotMachien</p>
                    <p class="subtitle has-text-centered">This repository contains all applications related to SlotMachien; a Lego MindStorms robot designed to turn a specific lock.</p>
                    <div class="has-text-centered"><a href="https://github.com/ZeusWPI/slotmachien">SlotMachien<span class="icon"><i class="fa fa-github"></i></span></a></div>
                </article>

            </div>
        </div>
    </div>
</div>
