---
title: Search
---
<div class="columns">
  <div class="column is-half">
    <div class="content">
      <h1>Bloch results</h1>
    </div>
    <div id="bloch_results"></div>
  </div>

  <div class="column">
    <div class="content">
      <h1>Event results</h1>
    </div>
    <div id="event_results"></div>
  </div>
</div>

<% content_for :head do %>
<!-- CSS -->
<!-- TiptueSearch CSS -->
<link rel="stylesheet" href="/assets/stylesheets/tipuesearch/tipuesearch.css" >
<% end %>

<% content_for :scripts do %>
<script src="https://code.jquery.com/jquery-3.0.0.min.js" charset="utf-8"></script>
<%= asset :js, :tipuesearch_set %>
<%= asset :js, :tipuesearch %>
<script>
$(document).ready(function() {
  $('#tipue_search_input_field').tipuesearch({
    'wholeWords': false,
    'showTitleCount': false,
    'tipue_search_content': '#bloch_results',
    'contentLocation': '../bloch_search.json'
  });
  $('#tipue_search_input_field').tipuesearch({
    'wholeWords': false,
    'showTitleCount': false,
    'tipue_search_content': '#event_results',
    'contentLocation': '../event_search.json'
  });
});
</script>
<% end %>
