---
navigable: false
title: Search
---
<form action="?" method="get">
  <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
</form>
<div id="tipue_search_content"></div>
<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch({
    showTitleCount: false
  });
});
</script>
