---
title: Search
---
<div class="columns">
  <div class="column is-half">
    <div class="content">
      <h1>Blog results</h1>
    </div>
    <div id="blog_results"></div>
  </div>

  <div class="column">
    <div class="content">
      <h1>Event results</h1>
    </div>
    <div id="event_results"></div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch({
    'mode': 'json',
    'showTitleCount': false,
    'tipue_search_content': '#blog_results',
    'contentLocation': '../blog_search.json'
  });
  $('#tipue_search_input').tipuesearch({
    'mode': 'json',
    'showTitleCount': false,
    'tipue_search_content': '#event_results',
    'contentLocation': '../event_search.json'
  });
});
</script>
