$zeus_orange: #FF7F00;
$event-padding: 10px;
$navbar-border-color: #CCC;

#container {
  height: 700px;
  margin-top: 35px;
}

#logo {
  height: 150px;
}

#logos {
  display: inline-block;
  color: black;

  .logo-link {
    margin-left: 10px;
  }
  .logo-link:hover {
    color: $zeus_orange;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;;
  align-items: flex-end;

}

#navbar {
  border-top: 1px solid $navbar-border-color;
  border-bottom: 1px solid $navbar-border-color;
  padding-top: 10px;
  padding-bottom: 10px;

  color: black;

  display: flex;
  justify-content: space-around;

  margin-bottom: $event-padding * 2;
  margin-top: $event-padding * 2;

  .navlink:hover {
    color: $zeus_orange;
  }
}

.main-event {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 250px;
  padding: 10px;
  margin-bottom: $event-padding;
}

#all-events {
  margin-left: -10px;
  margin-right: -10px;

  .event {
    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px;

    height: 200px;
    margin: $event-padding;
  }
}
