@import "includes/variables";

@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-divider/divider";

.nav-right {
  flex: none;
}

body {

}


// Sticky footer
body {
  hyphens: auto;

  &.site {
    overflow-x: hidden;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .wrapper {
    flex: 1;
  }
}


@import "includes/animations";
@import "includes/cammie";
@import "includes/events";
@import "includes/tiles";
@import "includes/blogpost";
@import "includes/general";
@import "includes/eventpage";
@import "includes/projects";
@import "includes/navbar";
@import "includes/search";
@import "includes/about";
