@import 'https://fonts.googleapis.com/css?family=Lato:300,400';

@import "includes/variables";

@import "../../../node_modules/bulma/bulma";

.nav-right {
  flex: none;
}

// Sticky footer
body.site {
  overflow-x: hidden;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrapper {
    flex: 1;
  }
}


@import "includes/animations";
@import "includes/cammie";
@import "includes/events";
@import "includes/tiles";
@import "includes/blogpost";
@import "includes/general";
@import "includes/eventpage";
@import "includes/404";
@import "includes/projects";
@import "includes/navbar";
@import "includes/search";
