$zeus-orange: #FF7F00;

$orange: $zeus-orange;
$primary: $orange;
$link-visited: $orange;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
$family-sans-serif: 'Open Sans', sans-serif;


@import "../../../node_modules/bulma/bulma";

.nav-right {
  flex: none;
}

@import "includes/variables";
@import "includes/cammie";
@import "includes/events";
@import "includes/tiles";
@import "includes/blogpost";
@import "includes/general";
@import "includes/404";
@import "includes/projects";