/* KEEP THIS VVVV */
/* HACK The following line of code does nothing. It only serves as a way for nanoc to recognize dependencies with all the sub scss files */
// <% @items.find_all('/assets/stylesheets/includes/*').each {|e| e.raw_content } %>
/* KEEP THIS ^^^^ */

@import "includes/variables";

@import "node_modules/bulma/bulma";
@import "node_modules/bulma-timeline/src/sass/index.sass";


// Sticky footer
body {
  hyphens: auto;

  &.site {
    overflow-x: hidden;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .wrapper {
    flex: 1;
  }
}


@import "includes/animations";
@import "includes/cammie";
@import "includes/events";
@import "includes/tiles";
@import "includes/blogpost";
@import "includes/general";
@import "includes/eventpage";
@import "includes/projects";
@import "includes/navbar";
@import "includes/search";
@import "includes/about";
@import "includes/privacy";
@import "includes/toc";
