---
narrow_page: true
subnavigation:
  bar: about
  identifier: about
  name: Zeus WPI
  order: 100
---

<h1 class="title is-1 has-text-centered">About Zeus WPI</h1>

<div class="content">
  <p>
    Zeus WPI is the student association for Computer Science at Ghent University.
    Our goal is to provide a stimulating environment for motivated students looking to expand their skills by engaging in interesting real-world projects.
  </p>

  <p>
    We organize various hands-on coding events.
    Together we build interesting applications for Ghent University students (<a href='https://hydra.ugent.be/'>Hydra</a>) and <a href='https://12urenloop.be/'>12urenloop</a>, and ofcourse for ourselves.
  </p>

  <p>
    Be sure to check out the <a href='../../projects'>project page</a>!
  </p>

  <p>
    Everybody is welcome at Zeus WPI, even if you don't study computer science. The only requirement is a healthy dose of motivation and some (toleration for) geekyness.
  </p>

  <h2>The board</h2>
  <p id="board">
    The board is the oil in the machine and is the driving force behind the organization of events and projects.
    The Zeus WPI board in <%= pretty_year @config[:academic_year] %> is:
  </p>

  <blockquote>
    Mail us all at: <a href='mailto:bestuur@zeus.ugent.be'>bestuur@zeus.ugent.be</a>
  </blockquote>

  <%= render '/partials/_current_bestuur.*' %>

</div>
