---
narrow_page: true
subnavigation:
  bar: about
  identifier: about
  name: Zeus WPI
  order: 100
---

<h1 class="title is-1 has-text-centered">About Zeus WPI</h1>

<div class="content">
  <p>
    Zeus WPI is the student association for Computer Science at Ghent University.
    Our goal is to provide a stimulating environment for motivated students looking to expand their skills by engaging in interesting real-world projects.
  </p>

  <p>
    We organize various tech related events, such as talks by experts, hands-on coding events and introductory lectures for interesting technologies.
    Together we build applications for Ghent University students (<a href='https://hydra.ugent.be/'>Hydra</a>), for <a href='https://12urenloop.be/'>12urenloop</a> and of course for ourselves.
  </p>

  <p>
    Be sure to check out the <a href='../../projects'>project page</a>!
  </p>

  <p>
    Everybody is welcome at Zeus WPI, regardless of your academic background. What truly matters is your passion for computer science and a bit of (tolerance for) geekiness won't hurt either!
  </p>

  <h2>The board</h2>
  <p id="board">
    The board is the oil in the machine and is the driving force behind the organization of events and projects.
    The Zeus WPI board in <%= pretty_year @config[:academic_year] %> is:
  </p>

  <blockquote>
    Mail us all at: <a href='mailto:bestuur@zeus.ugent.be'>bestuur@zeus.ugent.be</a>
  </blockquote>

  <%= render '/partials/_current_bestuur.*' %>

</div>
