---
narrow_page: true
---
<%= render '/partials/_about_sub_navbar.*', selected: 'historiek' %>
<h1 class="title is-1 has-text-centered">Historiek</h1>
<div class="content">
  <h3>In den beginne</h3>
    <p>
      Zeus werd opgericht in 1991.
    </p>
  <h3>Voorzitters en besturen</h3>
   <table class="table">
    <thead>
      <tr>
        <th>Academiejaar</th>
        <th><div class="has-text-centered is-fullwidth">Rollen<div></th>
      </tr>
    </thead>
    <tbody>
      <% data_from(:oud_bestuur).each do |jaar| %>
      <tr>
        <td>
          <%= jaar['jaar'] %>
        </td>
        <td>
          <div class="level">
            <% jaar['rollen'].each do |rol| %>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading"><%= rol['rol'] %></p>
                <p class=""><%= rol['naam'] %></p>
              </div>
            </div>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>