---
narrow_page: true
typography: true
subnavigation:
  bar: about
  identifier: historiek
  name: Historiek
  order: 400
---

<h1 class="title is-1 has-text-centered">Historiek</h1>

<div class="timeline">
  <header class="timeline-header">
    <span class="tag is-medium is-primary">1991</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het prille begin</h2>
      <img src="https://zeus.ugent.be/wp-content/uploads/2009/05/zeus_logo_black_large-300x215.png" alt="Zeus logo" title="zeus_logo_black_large" class="alignright">

      <p>In 1991 gaf het voormalige CDR (Centraal Digitaal Rekencentrum) van de Universiteit Gent Vincent Willems de mogelijkheid te starten met PERIKLES@CDR.rug.ac.be en BORD@CDR.rug.ac.be op de lokale Siemens BS2000 mainframe, die op dat moment verbinding had met BITNET. Hiertoe had hij de hulp gekregen van Bert Dobbelaere en Francois Wuyts. De bedoeling van BORD was een grote hoeveelheid informatie en documentatie lokaal ter beschikking te stellen rond listservers, e-mail, het gebruik van BITNET en ftp-by-mail. Deze bestanden waren zo geplaatst dat iedereen er toegang toe kon krijgen vanop de mainframe. Al vrij snel was de database uitgegroeid tot iets omvangrijks en iets dat in goeie aarde viel bij de overige gebruikers. PERIKLES was een lokale mailinglist voor gebruikersvragen rond BITNET en het vinden van informatie erop.</p>

      <p>Een tijdje later gaf het CDR hen enkele afgedankte NCR Tower 32 System V Unix machines. Op een van de machines, "zeus", werd de allereerste RUG mailserver, nl. zeus AT zeus.rug.ac.be, op basis van zelf geprogrammeerde shell scripts geïnstalleerd. De mailserver zorgde ervoor dat documentatie-opvragingen via e-mail automatisch verwerkt werden. Een tijdje heeft dit goed gedraaid.</p>

      <p>Maar, aangezien Bert Dobbelaere van school veranderde, was het hem niet langer mogelijk nog te participeren in het project. Daarom moesten we op zoek gaan naar andere geïnteresseerde medewerkers. En die vonden we... Op een informatieve vergadering besloten we een formele werkgroep aan de universiteit op te richten, die ons in staat zou stellen eveneens wat subsidie op te rakelen. De Dienst Studentenactiviteiten ging akkoord en de Zeus Mailserver - Werkkring Publieke Informatika, kortweg Zeus WPI was geboren. Er werd gezocht naar sponsors en uiteindelijk slaagden we erin een i486 machine te bemachtigen, waar we FreeBSD 0.1 op installeerden (een vrij verspreidbare versie van UNIX met goeie TCP/IP-voorzieningen). Later zijn we dan overgeschakeld op het Linux operating system, waarvan we de eerste gebruikers aan de RUG waren.</p>

      <p>Deze server werd 'einstein' gedoopt, en werd eveneens ingericht als anonieme ftp-server. Verscheidene ftp-administrators werden aangeduid, onder meer voor DOS, Windows en Amiga. Het was de bedoeling om een verzameling van meest gevraagde software op te bouwen en die lokaal op de RUG ter beschikking te stellen. Einstein was de eerste anonieme ftp-server aan de RUG! Andere Zeus servers waren 'asteriks', 'zeus' (de "officiële" naam van de ftp-server) en 'ncr3', die gebruikt werden als file server (allemaal NCR Tower 32). Omdat de mailserver niet langer gebruikt werd, werd er besloten de naam van de werkgroep te verkorten tot 'Zeus - Werkkring Publieke Informatika', of afgekort: 'Zeus - WPI'. Alle systeemonderhoud en fondsen werden voorzien door de werkkring. Zeus-WPI voorzag ook 'Zeus - Info' brochures waarin bv. de installatie van Linux Slackware beschreven werd; daarnaast werd de Linux Slackware verdeeld door Zeus - WPI, zelfs aan mensen buiten de universiteit! Eveneens werd er een externe CD-ROM verhuurd die men thuis op de parallelle poort kon aansluiten, samen met enkele cd-schijfjes. Uiteindelijk startte Zeus-WPI ook met een BBS zodat eveneens via dial-in files afgehaald konden worden.</p>

      <p>Zeus zette haar groeiperiode verder totdat op een zeker moment het ARC, onder leiding van Geert DeSoete de internet toegang voor alle studenten afsneed. Onder het voorzitterschap van Stephan Surmont kende Zeus meer laagte- dan hoogtepunten. Geen internet toegang , opdroging van de sponsoring, en veroudering van de hardware zorgden ervoor dat Zeus in het vergetelhoekje geraakte. Toch werd er intern nog verdergewerkt. Het was echter niet Stephans schuld dat Zeus iets minder goed draaide, maar eerder alle externe tegenslagen die Zeus had.</p>

      <p>Onder het beheer van Thomas Vidts werd de BBS afgevoerd. Toch begon Zeus langzaam maar zeker weer actief te worden. Er werden enkele nieuwe leden aangenomen en einstein (tot dan toe de enige draaiende server van Zeus) werd geherconfigureerd en werd de eerste webserver binnen de RUG. Er werd werk gemaakt van de inhoud van de FTP-site.</p>

      <p>Medio 1995 besloot Thomas Vidts een stap terug te zetten en werd voormalig ftp-administrator Roeland Mertens de nieuwe voorzitter. Einstein werd verschillende malen ge-update tot een pentiumconfiguratie. De ftp-site bleef verder groeien en werd veruit de populairste onder de studentenbevolking. Op 15 oktober 1996 verschijnt de folder
        <em>Overleven op RUGnet</em>, het resultaat van meerdere weken noeste arbeid.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">1996</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Iets recenter</h2>
      <p>Tijdens het jaar 1996 is het wat stil rond Zeus WPI. De rekeningen worden betaald, de server wordt verder uitgebouwd tot een stabiele machine, en de leden vervullen nog steeds hun taken, maar laten weinig van zich horen. Tijdens dit jaar komen er enkele nieuwe leden bij, de een al wat enthousiaster dan de andere. Er komt een nieuwe homepage voor Zeus WPI, en de virusftp leeft zoals die nog nooit geleefd heeft.</p>

      <p>Zeus wordt ook gecontacteerd om een server op te zetten om alle webpagina's van alle studentenverenigingen op te plaatsen (http://student.rug.ac.be). Dit idee wordt uitgewerkt, en Zeus begint met het opzetten van de server, die in De Brug wordt geplaatst. Tijdens dit jaar worden er nog geen homepages overgezet naar Student, maar de server wordt klaargestoomd voor het academiejaar 1997-1998, wanneer alle homepagina's verplaatst zullen worden.</p>

      <p>Met de hardware die Zeus heeft worden er nog twee computers gebouwd, en komen die ook beide aan het net. Indy1 en Hermes leven terug. Deze twee computers wisselen voortdurend van configuratie en hardware, maar blijven operationeel. Het computerpark wordt ook uitgebreid met 17 XT machines die in bruikleen worden gegeven. Deze machines worden voorlopig niet gebruikt omdat er geen netwerkkaarten voorhanden zijn. Het idee om een NCR server terug aan te zwengelen steekt de kop op, omdat zo de verschillende XT's als terminal kunnen gebruikt worden. Dit idee wordt echter een beetje op de lange baan geschoven.</p>

      <p>Op het eind van academiejaar 1996-1997 en het begin van 1997-1998 wordt Zeus terug wat actiever. De Brug contacteerde Zeus voor het onderhoud van hun computerlokaal en de verdere uitbouw ervan. Enkele leden nemen de taak op zich. De verschillende computers daar worden allemaal opnieuw geconfigureerd en voorzien van recente software. Student wordt nu ook meer en meer gebruikt door de verschillende verenigingen voor het plaatsen van hun homepage. Student kent enkele kleinere probleempjes, maar die worden allemaal vakkundig opgelost. Zeus WPI maakt ook een <a href="http://web.archive.org/web/19980221100735/http://student.rug.ac.be/">volledig nieuwe homepage voor Student</a>. Het computerpark van Zeus wordt geteisterd door een ongelukje en het laatste VGA-scherm geeft de geest. De server wordt voorzien van een prachtig Hercules Monochroom-scherm.</p>

      <p>Het bestuur wordt uitgebreid met twee nieuwe functies, die worden ingenomen door enkele heel actieve leden. Gelukkig breken er betere tijden aan voor Zeus. Van de PC-klas uit het ARC krijgen we een aantal schitterende VGA-schermen, en het ledenaantal begint gestaag te groeien, niet in het minst door onze PR-activiteiten.</p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <blockquote cite="http://steentijd.schamper.be/349/zeus">
        <p>De mooie jonge oppergoden van de informatica.</p>
        <footer>— <cite><a href="http://steentijd.schamper.be/349/zeus">Schamper</a></cite> over Zeus, 1997</footer>
      </blockquote>
      </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">1998</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 1998 – 1999</h2>
      <p>Begin 1998 wordt er een geheel nieuw bestuur gevormd en Roeland neemt afscheid van "zijn" Zeus, om in het buitenland te gaan werken. De fakkel wordt overgenomen door Steven Dewinter. De kelder ondergaat een ware metamorfose, doordat alle verouderde en in de loop der jaren vergaarde hardware, waaronder de enorme stapel XT's en NCR's, in een keer worden buitengesmeten.</p>

      <p>Zeus stelt in de eerste ledenvergadering enkele punten op die dit academiejaar prioriteit worden. Aangezien het onmogelijk is om de FTP-site up to date te houden, wordt er besloten te beginnen werken met mirrors van bekende sites. Na heel wat lobbywerk vernemen we van "Tucows" dat we hun volledige site mogen overnemen. Het enthousiasme stijgt voor deze aanpak, en enkele weken later zijn we trotse eigenaars van mirrors van Tucows en Linuxberg, en zijn we officiële verdeelsite van Corel voor hun Linuxsoftware.</p>

      <p>De projecten beginnen ook terug goed te lopen. Nadat we werden gecontacteerd door enkele mensen van de Rechten en het HILOK wordt een volledig elektronisch AdValvas-systeem opgezet. Ook wordt er actief gewerkt aan een Beowulf-cluster.</p>

      <p>De samenwerking met het personeel van verschillende diensten verloopt beter en beter. Alles ziet er goed uit voor Zeus. Eind januari wordt ook een volledig nieuwe <a href="http://web.archive.org/web/19990913011355/http://www.zeus.rug.ac.be:80/index.shtml">webpagina</a> gepubliceerd, samen met een publiciteitsstunt voor de mirrors.</p>

      <p>De samenhang tussen de leden is fantastisch, wat bewezen wordt door de gezamenlijke oudejaar in de Gentse Overpoort.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">1999</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 1999 – 2000</h2>
      <p>Tijdens dit jaar verandert er veel voor Zeus WPI. Er worden veel nieuwe leden verwelkomd en de kelder wordt verder uitgebouwd. Er wordt een nieuwe machine aangekocht en deze wordt geconfigureerd als werkmachine voor de leden. Verschillende mensen van Zeus WPI raken betrokken in andere projecten. Zo wordt de 12-urenloop infomatica-gewijs gesteund door Zeus WPI. De projecten in het studentenhuis vergen ook wat tijd van verschillende leden. Er wordt terug (iets dat lijkt op) een permanentie ingevoerd in de kelder en de leden komen meer en meer naar het lokaal. Er wordt een linuxles gegeven over het installeren van Corel Linux.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2000</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>De jaren 2000 – 2002</h2>
      <p>Er heerst een permanente drukte in de kelder; er is een aangename sfeer en er worden allerlei kleine dingen uitgeprobeerd. We kopen een aantal nieuwe schijven aan om een raid te vormen in onze mirror. Deze is nu 117G groot. Er wordt een radiusserver opgezet die de toegang tot de workstations in de kelder moet verbeteren. De mailinglistserver werd veranderd door een eigen gemaakt exemplaar. Er komt heel wat nieuwe hardware bij in de kelder. Op vlak van sponsorgebied en lessen kunnen deze jaren wel goed meetellen. Enkele grote sponsors werden verkregen. En elk jaar werden heel wat zeuslessen gegeven waarbij steeds weer een grote opkomst was: lessen over PHP, lessen over installatie en gebruik van Linux, LaTeX, een anti-spamles... Alsook wordt de brochure van "Overleven op RUGnet" terug bijgewerkt en over 4 faculteiten verspreid.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2002</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 2002 – 2003</h2>
      <p>Er is een nieuw adminteam gevormd en een nieuw bestuur en na 2 relatief kalme jaren komt er heel wat initiatief van nieuwe leden en van leden die passiever waren in het verleden. Op het admingebied is er constante activiteit en wordt van alles veranderd. Een firewall wordt ingevoegd, nieuwe gebruikers krijgen standaard een wachtwoord op de radius. Alle wat minder beheerde machines probeert het nieuwe adminteam in orde te zetten. De website wordt herschreven door enkele nieuwe leden en dit gaat via een cvs-server. Op sponsorgebied gaat het ook vlotjes en ook de tekstschrijvers leveren goed werk.</p>

      <p>Het eerste semester gaat ongemerkt voorbij, maar het tweede semester wordt met een event van wereldformaat gestart,
        <a href="http://www.webworm.org/">Rudy</a> weet <strong>Richard Stallman</strong> te overtuigen om te komen
        <a href="http://web.archive.org/web/20040918154851/http://www.zeus.ugent.be/varia/rms2003.pdf">spreken</a> over de gevaren van software patenten. Daarnaast wordt de
        <a href="http://www.nongnu.org/glms/">GLMS</a>-cursus gegeven, geeft
        <a href="http://cage.ugent.be/~gvernaev">Geert</a> zijn legendarische C-cursus en Jonas verklapt ons zijn "hoe ontwijk ik spam"-tactieken...
      </p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2003</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>De jaren 2003 – 2006</h2>
      <p>Het nieuwe academiejaar wordt gestart met een <a href="http://web.archive.org/web/20031127035225/http://zeus.ugent.be/index.php">volledig nieuwe website</a>. Lessen worden opnieuw gegeven, en de activiteiten gaan rustig verder.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2006</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 2006 – 2007</h2>
      <p>De voorbije jaren zwaaiden veel van de oudere Zeus-leden af, en moesten ze ons met pijn in het hart achter laten. Maar niet getreurd - er staat een groep nieuwe enthousiastelingen klaar om alles voor zeus te geven. We bruisen van ideeën en we zijn klaar om er keihard tegenaan te gaan!</p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <figure>
        <img src="https://zeus.ugent.be/wp-content/uploads/2014/01/20070920-140006-1.jpg" alt="2007-sfeerbeeld">
        <figcaption>
          Een sfeerbeeld van de kelder in 2007
        </figcaption>
      </figure>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2007</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>De jaren 2007 – 2010</h2>
      <p>De Zeus draait nog steeds verder, niet elk jaar even sterk maar nog steeds met veel enthousiasme.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2010</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>De jaren 2010 – 2014</h2>
      <p>Je zou het bijna een 2de geboorte kunnen noemen, Zeus ontploft. Wat onze hoeveelheid code betreft alvast.
        Er spruiten projecten uit de grond, veel projecten. Extern, zoals FK-Enrolment, Gandalf, 12Urenloop, en Hydra.
        Veel van deze projecten verdienen hun eigen beschrijving, want ze zijn stuk voor stuk symbool voor de innovatie en creatiedrang die Zeus doet ontsproeien in studenten, je kan daarom een compleet overzicht zien op onze
        <a href="https://zeus.ugent.be/projects/">projectpagina</a>.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2014</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 2014 – 2015</h2>
      <p>De eerste stapjes van de kelderautomatisering worden gezet tijdens de zomervakantie, Slotmachien wordt tot leven gewekt. Vertrouwde leden kunnen nu zonder sleutel binnen en buiten in de kelder. Het academiejaar gaat van start met de (ondertussen meermaals terugkerende en steevast enorm populaire) rondleiding van het Datacentrum. Het High Performance Computing team van DICT laat ons kennismaken met de snelste computer van het land (op dat moment (snif)). Er worden weer lustig lessen en workshops georganiseerd, en voor de afwisseling wordt de eerste Zeus Spelletjesavond gehouden.</p>

      <p>In de paasvakantie vliegt het interieur naar buiten. Door de explosie van leden is er een ferm plaatstekort, dat opgelost wordt door subsidies te smijten in de algemene richting van ikea-tafels. Heel wat gesleur later (en een tripje teveel vanwege de kleurenblindheid van bepaalde leden) en de kelder is niet alleen onherkenbaar maar vooral veel ruimer ingedeeld.</p>

      <p>De eerste editie van de <a href="/events/14-15/zeus-lightning-talks/">Zeus Lightning talks</a> is ook een hit, met een vol auditorium en een hoop proffen die voor een kwartiertje (of drie kwartier in een bepaald geval) hun zegje mogen doen. Het jaar wordt op een hoogtepunt afgesloten door het <a href="/blog/14-15/ansible-is-af-3/">afwerken van de Ansible-configuratie</a>, waardoor T21 voor eeuwig in de annalen opgenomen wordt als sysadmin der sysadmins. Ondertussen is ook Haldis deel geworden van de afgewerkte kelderprojectjes.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2015</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 2015 – 2016</h2>
      <p>De nood aan een ereledenwerking valt ook op bij het bestuur. De eerste Zeus Ereleden krijgen een gigantische poster van hun gezicht op de keldermuren gekleefd. Er wordt verder gestreefd naar ~~luiheid~~automatisatie. Tab, het zelfgeschreven betalingssysteem en Tap, het zelfgeschreven drankbestelsysteem worden in gebruik genomen. Gamification treedt na een goed jaar development ook in werking, waardoor we nu voor imaginaire puntjes kunnen vechten om Beste Coder van de week te worden. Bottlebats, een ambitieuze AI-competitie, ziet ook zijn eerste editie. De Cease And Desist van Battlebots Inc. krijgt een mooi plekje op ons prikbord.</p>

      <p>Als hoogtepunt van het jaar slagen we er in om tussen de standaard lessen en workshops door voor een tweede keer Richard "rms" Stallman naar Gent te krijgen. Dit keer geeft hij een talk over "Copyright vs. Community" in het goed gevulde Quetelet-auditorium.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2016</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 2016 – 2017</h2>
      <p>We zijn verdomme 25 jaar. Dat moet gevierd worden. We organiseren dan ook een fantastisch galabal, een hele lustrum week zelfs!
        Het galabal, gevolgd door een 25uren codenight (slecht idee hebben we ondervonden), en om de week af te sluiten, de 5de editie van onze LAN-party "Geeks Attack!".</p>

      <p>We proberen een nieuwe vloer te fixen, maar dat plan gaat helaas niet door. We krijgen wel een nieuwe zetel, tafels, en een server van VTK. Ondertussen heeft Hydra maar liefst 3000 maandelijkse gebruikers en wordt Gandalf af en toe gebruikt door de UGent, onder andere ter ondersteuning van Het Groot Dictee, alsook voor Uniducenti, een 200 jaar bestaans feestje samen met de Universiteit Luik.
        Verder organiseren we ook voor het eerst HTTPizza in samenwerking met Ruben Verborgh en IDLab, en, omdat bij 25 jaar Zeus nog wel wat vernieuwing mag, schrijven we onszelf een nieuwe site.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2017</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 2017 – 2018</h2>
      <p>Dit jaar slagen we er wél in om <abbr title="Directie Gebouwen en Facilitair Beheer">DGFB</abbr> te overtuigen dat de geleidelijke erosie van de keldervloer in de vorm van rood stof onze neus-, oor-, keel- én spuigaten uitkomt. In de lente van 2018 ruilt de kelder haar stoffig rood in voor blinkend grijs. Wie de volledige saga van de <em>vleor</em> wil kennen dat dat lezen in de <a href="/blog/17-18/vleor/">betreffende blogpost</a>.
      <figure>
        <img src="https://zeus.ugent.be/zeuswpi/trZFwU90.jpg" alt="Lege kelder met een grijze vloer">
        <figcaption>
          De nieuwe, grijze, blinkende vloer van de Zeuskelder.
        </figcaption>
      </figure>
      <p>Dit jaar werd er opnieuw vleitig aan projecten gewerkt en werden de grondslagen gelegd voor een nieuw toekomstig legacy-project: <b>G2</b>. Ook aan events was er geen tekort. Zo organiseerden we in samenwerking met <a href="https://ceneka.be/">CenEka</a>, onze zuster-werkgroep uit de ingenieursfaculteit, een reeks <b>TECH Talkz</b>.
      <p>Tot slot breidt Zeus haar digitaal vastgoed uit en leggen we onze territoriale claim op de domeinnaam <a href="https://zeus.gent">zeus.gent</a>.
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2018</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 2018 – 2019</h2>
      <p>De tijd is gekomen om van chatplatform te wisselen. Vanaf nu is Zeus WPI te vinden op <a href="https://mattermost.zeus.gent/">https://mattermost.zeus.gent</a>. Voor de eerste keer organiseren we ook een esoterische codenight om zo veel mogelijk eerstejaars kennis te laten maken met de wondere wereld van het programmeren. In het tweede semester is er ook de eerste IHNGTWHSIPB (Ik Heb Nog Genoeg Tijd Want Het Semester Is Pas Begonnen) codenight. Een maand later organiseren we ook onze eigen CTF (Capture The Friday), gericht op beginnende l33t h4x0rs.</p>

      <p>Qua projecten wordt het idee van vorig jaar genaamd G2 eindelijk een ding, er is meer animo voor en er begint dit keer ook effectief code uit voort te komen. Daarnaast wordt ook Cat (Cuddles And Bad Abbreviations) geschreven, onze kaart van wie knuffels gegeven heeft aan wie. Omdat we vinden dat de messages van de Cammie-site naar de kelder niet archaisch genoeg getoond worden besluiten we om een systeem te schrijven dat de berichten via een Raspberry Pi naar Hoek (de computer in de hoek van de kelder) stuurt, die deze toont met behulp van een puur x86-assembly programma dat van een floppy draait. Waarom? Waarom niet?!</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2019</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 2019 – 2020</h2>
      <p>Het jaar begon ook dit jaar met een esoterisch-getinte codenight. Dit jaar was onze spelletjesavond net iets anders, we werkten namelijk samen met <a href="https://nemesisgent.be/">de studentenvereniging Nemesis</a> die ons uitnodigden in hun clublokaal om samen gezellig spellejes te spelen. We doen ook dit jaar opnieuw een CTF gericht om al intro te dienen. In het tweede semester beginnen we aan het Durf Doen-project van de GSR (Gentse Studentenraad) te revampen dat dient om studenten te helpen om studentenverenigingen te vinden die bij hen passen. We bezoeken ook de jobavond van onze Leuvense vrienden ULYSSIS en organiseren samen met VVN, Prime en WiNA een paar dagen later (toevallig) onze eigen jobbeurs.</p>
      <p>Wat er daarna gebeurde had niemand kunnen voorspellen, de COVID-19 infecties lopen op en ons land gaat in een nationale lockdown. Natuurlijk betekent dit ook dat wij met Zeus onze kelder moeten sluiten voor onbepaalde duur. Hoe spijtig dit ook moge zijn, Zeus laat zich niet doen en we organiseren een online LAN-party (een WAN-party eigenlijk) en een online-CTF. Ook onze verkiezingen moeten digitaal doorgaan en in de zomer hebben we een van de meest rare bestuursovergangen in de geschiedenis van onze vereniging. Niemand weet wat het volgend jaar gaat brengen, maar Zeus blijft doet er alles aan om er het beste van te maken.</p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-primary is-medium">2021</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content content">
      <h2>Het jaar 2021 – 2022</h2>

      <p>We beginnen het jaar vóór de Intoductiedag van de eerstejaars met een Potluck! Het academiejaar begonnen we dan direct met een volwaardige codenight aan het 12urenloop project. Het zal doorheen dit jaar een focus zijn om ons nieuw systeem op punt te zetten. Naast enkele klassiekers zoals het bezoek aan het datacenter en de hacktoberfest codenight organiseren we de 10e editie van de Geeks Attack! LAN party. Verdere events tijdens het eerste semester worden opnieuw bemoeilijkt en worden dus niet geplant of afgelast.</p>

      <p>Maar gelukkig liet de situatie in het begin van het 2e semester weer toe dat we events organiseerde dus zijn we hier weer volop voor gegaan! In het 2e semester werken we verder aan het 12urenloop project. We organiseren een testevenement en gaan ook tellen op de 6urenloop in brugge. Gevolgd door de 12urenloop zelf. De conclusie: Ons nieuw systeem was een groot succes!</p>

      <p>Andere projecten worden ook niet vergeten. We werken onder andere aan Gamification 2 (niet te verwarren met G2, dit project is nog steeds in opstart<sup>TM</sup>). Ook francis-scherm-2 wordt tot leven geroepen, een simpele server die het toelaat om idividuele pixels naar een scherm te schrijven via een Websockets/TCP API. Alvast snel genoeg voor minecraft aan 15fps!
    </div>
  </div>
</div>
