---
narrow_page: true
---
<%= render '/partials/_about_sub_navbar.*', selected: 'historiek' %>
<h1 class="title is-1 has-text-centered">Historiek</h1>
<div class="content">
  <h3>In den beginne</h3>
    <p>
      Zeus werd opgericht in 1991.
    </p>
  <h3>Voorzitters en besturen</h3>
    <table class="listing">
      <tbody>
        <tr><td><p>1991-1992</p></td><td><p>Willems Vincent</tr>
        <tr><td><p>1992-1993</p></td><td><p>Willems Vincent</p></td></tr>
        <tr><td><p>1993-1994</p></td><td><p>Surmont Stephan</p></td></tr>
        <tr><td><p>1994-1995</p></td><td><p>Vidts Thomas</p></td></tr>
        <tr><td><p>1995-1996</p></td><td><p>Mertens Roeland</p></td></tr>
        <tr><td><p>1996-1997</p></td><td><p>Mertens Roeland</p></td></tr>
        <tr><td><p>1997-1998</p></td><td><p>Mertens Roeland</p></td></tr>
        <tr><td><p>1998-1999</p></td><td><p>Dewinter Steven</p></td></tr>
        <tr><td><p>1999-2000</p></td><td><p>De Decker Ivo</p></td></tr>
        <tr><td><p>2000-2001</p></td><td><p>Poppe Tom</p></td></tr>
        <tr><td><p>2001-2002</p></td><td><p>Gevaert Rudy</p></td></tr>
        <tr><td><p>2002-2003</p></td><td><p>Claes Luc</p></td></tr>
        <tr><td><p>2003-2004</p></td><td><p>Verhenne Kristof</p></td></tr>
        <tr><td><p>2004-2005</p></td><td><p>Verhoogen Olivier</p></td></tr>
        <tr><td><p>2005-2006</p></td><td><p>De Smet Wim</p></td></tr>
        <tr><td><p>2006-2007</p></td><td><p>Van Bogaert Willem</p></td></tr>
        <tr><td><p>2007-2008</p></td><td><p>Verhasselt David</p></td></tr>
        <tr><td><p>2008-2009</p></td><td><p>Meire Thomas</p></td></tr>
        <tr><td><p>2009-2010</p></td><td><p>Overloop Nicolas</p></td></tr>
        <tr><td><p>2010-2011</p></td><td><p>De Baets Pieter</p></td></tr>
        <tr><td><p>2011-2012</p></td><td><p>Panneel Jens</p></td></tr>
        <tr><td><p>2012-2013</p></td><td><p>Naessens Tom</p></td></tr>
        <tr><td><p>2013-2014</p></td><td><p>Naessens Tom</p></td></tr>
        <tr><td><p>2014-2015</p></td><td><p>Seghers Stijn</p></td></tr>
        <tr><td><p>2015-2016</p></td><td><p>De Clerck Jeroen</p></td></tr>
        <tr><td><p>2016-2017</p></td><td><p>Schellaert Wout</p></td></tr>
        <tr><td><p>2017-2018</p></td><td><p>Maertens Rien</p></td></tr>
      </tbody>
    </table>
</div>