<div class="subnav tabs">
  <ul>
    <li><a href="/about">Over</a></li>
    <li class="is-active"><a href="/about/statuten">Statuten</a></li>
    <li class="is-disabled"><a>Historiek (coming soon)</a></li>
    <li class="is-disabled"><a>Verslagen (coming soon)</a></li>
  </ul>
</div>
<div class="columns">
	<div class="column is-1"></div>
	<div class="column">
		<h1 class="title is-1 has-text-centered">Statuten</h1>
		<h2 class="subtitle is-3 has-text-centered">Revisie academiejaar 2013-2014</h2>

		<div class="content">
			<h3>Hoofdstuk I - Algemeenheden</h3>
			<strong>Art. 1</strong> - De vereniging draagt de naam: "Zeus - Werkgroep Informatica", kortweg "Zeus", of "Zeus WPI".<br />
			<strong>Art. 2</strong> - De vereniging heeft haar zetel te Krijgslaan 281, S9 B-9000 GENT. Bij beslissing van het bestuur kan de zetel evenwel verplaatst worden naar een andere plaats.<br />
			<strong>Art. 3</strong> - De vereniging heeft als website zeus.ugent.be.  Bij beslissing van het bestuur kan dit webadres veranderd worden.<br />
			<strong>Art. 4</strong> - De vereniging richt zich tot geïnteresseerden in de informatica en onder hen de studenten van de UGent in het bijzonder. Ze stelt zich tot doel het aanbieden van activiteiten, lessen en faciliteiten in het informatica-vakgebied teneinde studenten kennis te laten maken met andere informatica-domeinen, buiten alle winstbejag om. Bovendien wil de vereniging studenten samenbrengen die werken rond deze activiteiten.<br />
			<strong>Art. 5</strong> - De vereniging kan alle handelingen stellen die zowel rechtstreeks als onrechtstreeks de verwezenlijking van haar doelstellingen beoogt.<br />
			<h3>Hoofdstuk II - Lidmaatschap</h3>
			<strong>Art. 6</strong> - Het aantal leden van de vereniging is onbeperkt en het lidmaatschap is voorbehouden voor alle studenten die momenteel toegang hebben tot UGentNet, welke verleend wordt door de Universiteit Gent, of andere personen die daarvoor de goedkeuring krijgen van het bestuur van de vereniging. Personen die hiervoor in aanmerking komen zijn personen die kunnen bijdragen tot de verdere ontplooiing van de vereniging.<br />
			<strong>Art. 7</strong> -  Het lidmaatschap houdt in dat de gebruiker een account krijgt op de servers van de vereniging en ingeschreven wordt op de mailinglijst van de vereniging. Als men opmerkt dat er misbruik wordt gemaakt van deze account, kan deze -zonder voorafgaande waarschuwing- beëindigd worden. Dit betekent niet dat het lidmaatschap van deze persoon wordt opgezegd.<br />
			<strong>Art. 8</strong> - Het erelidmaatschap van de vereniging kan toegekend worden aan personen die zich verdienstelijk gemaakt hebben voor de vereniging. De beslissing wordt genomen door het bestuur en dient unaniem goedgekeurd te worden.<br />
			<strong>Art. 9</strong> - Het lidmaatschap is kosteloos, maar vergt activiteit binnen de vereniging. In geval van inactiviteit kan het lidmaatschap en bijbehorende account mits voorafgaande verwittiging door het bestuur opgezegd worden.<br />
			<strong>Art. 10</strong> - Leden worden persoonlijk op de hoogte gebracht van alle activiteiten van de vereniging. Publieke activiteiten worden ten minste meegedeeld door affiches, via het platform van de Dienst Studentenactiviteiten,aankondigingen in studententijdschriften, via de mailinglijst en via de website,...<br />
			<strong>Art. 11</strong> - Uitsluiten van leden kan nadat er is vastgesteld dat er schade is aangebracht aan de naam of eigendommen van de vereniging, of nadat men niet meer voldoet aan de statuten van de vereniging. De persoon krijgt de kans zich te verantwoorden tegenover het bestuur op de eerstvolgende bestuursvergadering. Hierna wordt beslist of de persoon lid kan blijven, of uit de vereniging wordt gezet. Er is 2/3 meerderheid van het bestuur nodig bij het uitsluiten van leden. Bij uitzonderlijke gevallen kunnen gerechtelijke stappen ondernomen worden.<br />

			<h3>Hoofdstuk III - Het bestuur</h3>
			<strong>Art. 12</strong> - De vereniging wordt bestuurd door tenminste drie personen (voorzitter, penningmeester en secretaris) verkozen voor de duur van 1 jaar. Zij vormen het bestuur van de vereniging. Voor bestuursfuncties komen slechts studenten aan de Universiteit Gent in aanmerking.<br />
			<strong>Art. 13</strong> - Het bestuur van het komende academiejaar wordt op een speciaal daartoe aangekondigde ledenvergadering verkozen op het einde van het academiejaar ervoor. Alle leden hebben stemrecht en worden van deze vergadering persoonlijk op de hoogte gebracht via de mailinglijst.<br />
			<strong>Art. 14</strong> - De verantwoordelijkheden en rechten van het bestuur zijn:
			<ul>
				<li><em>Voorzitter</em>: De voorzitter is verantwoordelijk voor de coördinatie van de vereniging en draagt de eindverantwoordelijkheid. De voorzitter leidt de vergaderingen en beslist wanneer de volgende activiteiten zullen plaatsvinden. De voorzitter heeft een algemeen vetorecht.</li>
				<li><em>Penningmeester</em>: De penningmeester is verantwoordelijk voor alle geldzaken van de vereniging. Hij heeft een financieel vetorecht inzake uitgaven die onder verantwoordelijkheid van de vereniging worden gedaan.</li>
				<li><em>Secretaris</em>: De secretaris maakt verslagen van elke vergadering, en zorgt voor alle planning van alle activiteiten, om die later door de voorzitter te laten goedkeuren.</li>
			</ul>
			Wanneer de voorzitter of de penningmeester gebruik maakt van zijn vetorecht, dient hij automatisch het ontslag uit zijn functie in. De beslissing waartegen het veto werd gebruikt kan pas uitgevoerd worden nadat een opvolger verkozen is, en het betreffende punt opnieuw beslist wordt.Optionele bestuursfuncties en hun verantwoordelijkheden zijn:
			<ul>
				<li><em>Systeemadministrator(s):</em> draagt (dragen) de verantwoordelijkheid voor het onderhoud van de servers en clients.</li>
				<li><em>Activiteitenverantwoordelijke:</em> draagt de verantwoordelijkheid bij het organiseren van de activiteiten.</li>
			</ul>
			Het bestuur kan verder aangevuld worden, al dan niet met officieuze functies.<br />
			<strong>Art. 15</strong> - De hierboven vernoemde verantwoordelijkheden van de bestuursleden zijn niet-exhaustief. Ieder bestuurslid draagt o.a. een algemene verwantwoordelijkheid.<br />
			<strong>Art. 15</strong> - Het bestuur komt regelmatig samen op een daartoe vastgestelde dag, die door de voorzitter wordt vastgelegd en door de secretaris aan alle leden wordt meegedeeld. De bestuursvergadering is slechts geldig wanneer twee derden aanwezig is. De agendapunten moeten behandeld worden. Bij gelijke stemming heeft de voorzitter het laatste woord.<br />
			<strong>Art. 16</strong> - Alle voorstellen die tijdens een bepaalde vergadering werden voorgelegd, worden gebundeld. Een exemplaar hiervan wordt door de secretaris bedeeld aan de bestuursleden. Een exemplaar wordt publiekelijk beschikbaar gesteld via de website van de vereniging.<br />

			<h3>Hoofdstuk IV - Eindbepaling</h3>
			<strong>Art. 17</strong> - De statuten kunnen slechts gewijzigd worden op een algemene ledenvergadering waar minstens 1/2 van de leden aanwezig is. Hiervoor is bij stemming een 2/3 meerderheid van alle aanwezige leden vereist.<br />
			<strong>Art. 18</strong> - In geval van ontbinding zal de vereniging beslissen dat het nettoactief zal gestort worden aan een nader te bepalen goed doel.<br />
		</div>
	</div>
	<div class="column is-1"></div>
</div>
