<div class="content">
<h1>Verslagen</h1>
<ul>
  <li>kdjfsql</li>
  <li>kdjfsql</li>
  <li>kdjfsql</li>
  <li>kdjfsql</li>
  <li>kdjfsql</li>
</ul>
</div>
<div class="content">
  <h3>Academiejaar 2015-2016</h3>

  coming soon: statutenwijzigingen + verkiezingsuitslag (Mei 2016)

  <a href="http://zeus.ugent.be/over-zeus-wpi/verslagen/vergadering8/"rel="attachment wp-att-2479">Bestuursvergadering 8: April 2016</a><br />
  <a href="http://zeus.ugent.be/over-zeus-wpi/verslagen/bestuursvergadering7/"rel="attachment wp-att-2478">Bestuursvergadering 7: Maart 2016</a><br />
  <a href="http://zeus.ugent.be/over-zeus-wpi/verslagen/bestuursvergadering6/"rel="attachment wp-att-2477">Bestuursvergadering 6: Februari 2016</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2015/03/Bestuursvergadering5.pdf">Bestuursvergadering 5: December 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2015/03/Bestuursvergadering4.pdf">Bestuursvergadering 4: November 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2015/03/Bestuursvergadering3.pdf">Bestuursvergadering 3: Oktober 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2015/10/Vergadering7september.pdf"> Bestuursvergadering 2: September 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2015/10/vergadering4augustus.pdf">Bestuursvergadering 1: Augustus 2015</a><br />

  <h3>Academiejaar 2014-2015</h3>
  <a href="https://zeus.ugent.be/wp-content/uploads/2015/03/Ledenvergaderingmei2015.pdf">Ledenvergadering Mei 5 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2015/03/2015-04-23Bestuursvergadering12.pdf">Bestuursvergadering April 23 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2015/03/2015-03-18Bestuursvergadering11.pdf">Bestuursvergadering Maart 18 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2014/09/2015-03-02Bestuursvergadering10.pdf">Bestuursvergadering Maart 2 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2014/09/2015-02-09Bestuursvergadering9.pdf">Bestuursvergadering Februari 8 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2014/09/2015-02-02Bestuursvergadering8.pdf">Bestuursvergadering Februari 2 2015</a><br />
  <a href="https://zeus.ugent.be/wp-content/uploads/2014/09/2014-12-02Bestuursvergadering7.pdf">Bestuursvergadering December 2014</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/09/Bestuursvergadering65november2014.pdf">Bestuursvergadering November 2014</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/09/Bestuursvergadering57oktober2014.pdf">Bestuursvergadering Oktober 2014</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/09/Bestuursvergadering416september2014.pdf">Bestuursvergadering September 16 2014</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/09/Bestuursvergadering38September2014-2.pdf">Bestuursvergadering September 8 2014</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergadering25augustus2014.pdf">Bestuursvergadering augustus 2014</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergadering1juli2014.pdf">Bestuursvergadering juli 2014</a><br />

  <h3>Academiejaar 2013-2014</h3>
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergadering18214.pdf">Bestuursvergadering februari 2014</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergadering29oktober2013.pdf">Bestuursvergadering oktober 2013</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergaderingbegin5913.pdf">Bestuursvergadering september 2013</a><br />

  <h3>Academiejaar 2012-2013</h3>
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Ledenvergadering14mei2013.pdf">Ledenvergadering mei 2013</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergadering2mei.pdf">Bestuursvergadering mei 2013</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergadering_28_maart_2013.pdf">Bestuursvergadering 28 maart 2013</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergadering_2013_maart_14.pdf">Bestuursvergadering 14 maart 2013</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergadering_2013_januari_31.pdf">Bestuursvergadering januari 2013</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/BestuursvergaderingNovember2012.pdf">Bestuursvergadering november 2012</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/BestuursvergaderingOktober2012.pdf">Bestuursvergadering oktober 2012</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/BestuursvergaderingSeptember2012.pdf">Bestuursvergadering september 2012</a><br />

  <h3>Vóór 2012</h3>
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/Bestuursvergadering29jun2011.pdf">Bestuursvergadering juni 2011</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/verslag-2010-08-14.pdf">Bestuursvergadering augustus 2010</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/verslag-2010-04-13.pdf">Bestuursvergadering april 2010</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/verslag-2009-12-10.pdf">Bestuursvergadering december 2009</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/verslag-2009-07-30.pdf">Bestuursvergadering 30 juli 2009</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/verslag-2009-07-13.pdf">Bestuursvergadering 13 juli 2009</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/verslag-2009-07-09.pdf">Bestuursvergadering 9 juli 2009</a><br />
  <a href="http://zeus.ugent.be/wp-content/uploads/2014/08/ledenvergadering-2006.pdf">Ledenvergadering 2006</a><br />
</div>
