<div class="tile is-parent is-12">
  <a href="https://bloklocaties.stad.gent" id="blokmap-tile" class="tile is-child box has-content-centered">
      <div class="content is-large has-text-centered">
        <h1>
          <b>Zoek de beste plek om te blokken!</b>
        </h1>
        <h2>
          bloklocaties.stad.gent
        </h2>
      </div>
    </a>
</div>
