<div class="cell is-col-span-2">
  <a href="http://blok.ugent.be" id="blokmap-tile" class="tile is-child box has-content-centered">
      <div class="content is-large has-text-centered">
        <h1 class='title is-1-responsive'>
          <b>Zoek de beste plek om te blokken!</b>
        </h1>
        <h2 class='title is-2-responsive'>
          blok.ugent.be
        </h2>
      </div>
    </a>
</div>
