<div id="navbar">
  <div class="columns">
    <div class="column is-narrow">
      <a id="logo-link" href="/">
        <img id="logo" src="https://zeus.ugent.be/wp-content/uploads/2009/05/logo-new.png" alt="" />
      </a>
    </div>
    <div class="column">
      <nav class="nav">
          <div class="nav-left">

            <% nav_items do |item, active| %>
            <a class="nav-item is-tab <%= 'is-active' if active %>" href="<%= relative_path_to(item) %>">
              <%= item[:title] %>
            </a>
            <% end %>
          </div>

          <div class="nav-right">
              <a class="nav-item" href="https://github.com/ZeusWPI" target="_blank">
                  <span class="icon">
                      <i class="fa fa-github"></i>
                  </span>
              </a>
              <a class="nav-item" href="https://www.facebook.com/zeus.wpi/" target="_blank">
                  <span class="icon">
                      <i class="fa fa-facebook"></i>
                  </span>
              </a>
              <a class="nav-item" href="/feed.xml" target="_blank">
                  <span class="icon">
                      <i class="fa fa-rss"></i>
                  </span>
              </a>
              <a class="nav-item" href="/ical.ics">
                  <span class="icon">
                      <i class="fa fa-calendar"></i>
                  </span>
              </a>
          </div>
      </nav>
    </div>
  </div>
</div>
