<nav id="navbar">
  <a href="#">
    About
  </a>
  <a href="#">
    All posts
  </a>
  <a href="#">
    Contact
  </a>
  <a href="/search">
    Search
  </a>
  <a href="/cammie">
    Cammie
  </a>
</nav>
