<nav id="navbar" class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/">
      <img id="logo" src="https://zeus.ugent.be/wp-content/uploads/2009/05/logo-new.png" alt="" />
    </a>

    <a class="nav-item is-tab" href="/about">
      About
    </a>
    <a class="nav-item is-tab" href="/archives">
      Archief
    </a>
    <a class="nav-item is-tab" href="/projects">
      Projecten
    </a>
    <a class="nav-item is-tab" href="/cammie">
      Cammie
    </a>
    <a class="nav-item is-tab" href="/search">
      Zoeken
    </a>
  </div>

  <div class="nav-right">
    <a class="nav-item" href="https://github.com/ZeusWPI" target="_blank">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item" href="https://www.facebook.com/zeus.wpi/" target="_blank">
      <span class="icon">
        <i class="fa fa-facebook"></i>
      </span>
    </a>
    <a class="nav-item" href="/feed.xml" target="_blank">
      <span class="icon">
        <i class="fa fa-rss"></i>
      </span>
    </a>
    <a class="nav-item" href="/ical.ics">
      <span class="icon">
        <i class="fa fa-calendar"></i>
      </span>
    </a>

  </div>
</nav>
