<nav id="navbar">
  <a href="/about">
    About
  </a>
  <a href="/archives">
    Archief
  </a>
  <a href="/projects">
    Projecten
  </a>
  <a href="/cammie">
    Cammie
  </a>
  <a href="/search">
    Zoeken
  </a>
</nav>
