<nav id="navbar">
  <a href="#">
    About
  </a>
  <a href="/archives">
    Archief
  </a>
  <a href="#">
    Contact
  </a>
  <a href="/search">
    Zoeken
  </a>
  <a href="/cammie">
    Cammie
  </a>
</nav>
