<div class="subnav tabs is-centered">
  <ul>
    <% subnavigables(@item[:subnavigation][:bar]).map { |e| e[:subnavigation] }.each do |nav| %>
    <li class="<%= 'is-active' if @selected == nav[:identifier] %>">
      <a href="<%= "/#{nav[:bar]}/#{nav[:identifier]}" %> " data-i18n="<%= nav[:name] %>">
      </a>
    </li>
    <% end %>
  </ul>
</div>
