<a href="<%= relative_path_to(@article) %>">
  <div class="main-tile">
    <div class="content">
      <div class="columns">
        <div class="column">
          <h1>
            <%= @article[:title] %>
          </h1>
        </div>
        <div class="column is-narrow">
          <small>
            <%= @article[:created_at] %>
          </small>
        </div>
      </div>
      <%= @article[:description] %>
    </div>
  </div>
</a>
