<% posts_in_year(item[:academic_year]).each do |post| %>
<a class="archive_list_ref" href="<%= relative_path_to(post) %>">
  <div class= "archive_list_item">
    <%= post[:title] %>
  </div>
  <div class="archive_list_item">
    <%= excerptize(post.reps[:text].compiled_content, length: 50) %>
  </div>
</a>
<% end %>
