<h1 class="title is-1 has-text-centered">
  <%= item[:title] %>
</h1>
<% if item[:author] %>
<h2 class="subtitle is-3 has-text-centered">
  <%= item[:author] %>
</h2>
<% end %>
<div class="content blogpost">
  <main class="blogwidth">
    <%= yield %>
  </main>
</div>
