<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Zeus WPI: Werkgroep Informatica van de Universiteit Gent</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet.css">

    <link rel="icon" href="favicon32.png" type="image/x-icon" />

    <script src="https://code.jquery.com/jquery-3.0.0.min.js" charset="utf-8"></script>

    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <%= content_for(@item, :head) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
