<div class="container">
  <header class="section">
    <%= render '/partials/_navbar.*' %>
  </header>
  <main class="section">
    <% if item[:narrow_page] %>
    <% if item[:subnavigation] %>
    <%= render '/partials/_sub_navbar.*', selected: item[:subnavigation][:identifier] %>
    <% end %>
    <div class="columns">
      <article class="column is-8 is-offset-2 <%= 'toc-container' if @item[:toc] %>">
    <% end %>

    <%= yield %>

    <% if item[:narrow_page] %>
      </article>
    </div>
    <% end %>
  </main>
</div>
