<div class="container">
  <header class="section">
    <%= render '/partials/_navbar.*' %>
  </header>
  <main class="section">
    <%= yield %>
  </main>
</div>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with <i class="fa fa-heart fa-inline"></i> by Zeus WPI
      </p>
    </div>
  </div>
</footer>
