<div class="container">
  <header class="section">
    <%= render '/partials/_navbar.*' %>
  </header>
  <main class="section">
    <% if item[:narrow_page] %>
    <div class="columns">
      <article class="column is-8 is-offset-2">
    <% end %>

    <%= yield %>

    <% if item[:narrow_page] %>
      </article>
    </div>
    <% end %>
  </main>
</div>
