# This is a basic workflow to help you get started with Actions

name: Pull request build and deploy

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Add private key
        shell: bash
        env:
          PRIVATE_KEY: ${{ secrets.DEPLOYMENT_PRIVATE_KEY }}
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          mkdir -p /home/runner/.ssh
          echo "$PRIVATE_KEY" > /home/runner/.ssh/id_ed25519
          chmod 600 /home/runner/.ssh/id_ed25519
          echo -e "[zeus.ugent.be]:2222 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBC87/Q3H8f7ghmA+iCtKGaNyk0fx3Z36Xrn+eGv8a4pD7MXeu6Uwr0aN5HnkcbRWXFtMwnAU3ptoP90vH7qu99w=\n[herbert.ugent.be]:2222 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBGLnJMh2DgqpVnHxOmeV6KffvzZGEVfniq0NFHRGZoL4f7Uc8xeG9gn3cc7lCL02F9LwWZNwR4gSqhGt/RK2S54=\n" >> ~/.ssh/known_hosts
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add /home/runner/.ssh/id_ed25519
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Checkout submodule
        run: git submodule update --init --recursive --remote
      - name: Install Nix
        uses: cachix/install-nix-action@v13
        with:
          nix_path: nixpkgs=channel:nixos-21.05
      - name: Build site
        run: "nix-shell --run 'nanoc --env=prod'"
      - name: Run checks
        run: "nix-shell --run 'nanoc --env=prod check --deploy'"
      - name: Deploy site to staging area
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          sftp -P 2222 zeuspr@herbert.ugent.be <<EOF
          cd /home/zeuspr/public
          mkdir $PR_NUMBER
          lcd output
          put -r ./ $PR_NUMBER
          quit
          EOF
